-content_for :title do
  Bloodhound: Articles

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}
      %h2 Articles

%p{class:"text-right"}
  %a{href: "https://www.gbif.org/resource/search?contentType=literature&relevance=GBIF_USED"}
    View latest
  listing on GBIF

- if @results.empty?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Articles have not yet been recorded.
-else

  %div{class:"table-responsive-lg"}
    %table{class:"table table-hover table-sm"}
      %thead{class: "thead-light"}
        %tr
          %th{scope: "col"} Article
          %th{scope: "col"} DOI
          %th{scope: "col"} Processed
          %th{scope: "col"} Created

      %tbody
        - @results.each do |article|
          %tr
            %td 
              %a{href: "/admin/article/#{article.id}"} #{article.citation[0..100].gsub(/\s\w+\s*$/,'...')}
            %td
              %a{href: "https://doi.org/#{article.doi}"} #{article.doi}
            %td #{article.processed}
            %td #{article.created}

  = will_paginate @results, { class: "pagination" }