-content_for :title do
  Bloodhound: #{@admin_user.fullname} Citations

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin");
    });

-content_for :jumbotron do
  = haml :'partials/admin_profile_jumbotron', layout: false

= haml :'partials/admin_user_tabs', layout: false, locals: { active_page: "citations" }

- if @results.empty?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Citations have not yet been recorded.
- else
  %div{class:"container-fluid citation-wrapper"}
    %h3 Specimen Data Used in Published Research
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            %a{href: "https://doi.org/#{article.doi}"} #{article.citation}
        %div{class: "card-body"}
          %dl{class: "row"}
            %dt{class: "col-sm-2"} Specimens used:
            %dd{class: "col-sm-10"}
              %span{class: "badge badge-success badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@admin_user.id))}
              %a{href: "/admin/user/#{@admin_user.orcid}/citation/#{article.id}"} View
            %dt{class: "col-sm-2"} Abstract:
            %dd{class: "col-sm-10"} #{article.abstract}
            %dt{class: "col-sm-2"} All data in study:
            %dd{class: "col-sm-10"}
              - article.gbif_dois.each do |doi|
                %a{href: "https://doi.org/#{doi}", class: "badge badge-light citation-correction"} #{doi}

    = will_paginate @results, { class: "pagination" }