-content_for :title do
  #{@admin_user.fullname} Thanks Received

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class:"row"}
      %div{class:"col-12 col-lg-4 alert-warning mb-2"}
        %h1{class:"h3"}= @admin_user.fullname
      %div{class:"col-12 col-lg-8 mt-2"}
        = haml :'partials/admin_user_tabs', layout: false, locals: { active_page: "messages" }

- if @results.empty?
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Other people have not yet sent their thanks for helping to attribute their specimen records.

- else
  = haml :'partials/admin_fixed_navbar', layout: false
  %div{id: "helper-info", class: "alert alert-info row tiny-margins", role: "alert"}
    Bloodhound users have sent their appreciation.

  %div{class:"table-responsive-lg"}
    %table{class:"table table-hover table-sm"}
      %thead{class: "thead-light"}
        %tr
          %th{scope: "col"} Thanked By
          %th{scope: "col"} Scientific Name
          %th{scope: "col"} Institution
          %th{scope: "col"} Catalog Number
          %th{scope: "col"} Date Sent

      %tbody
        - @results.each do |m|
          %tr
            %td
              - if m.sender.is_bot?
                #{m.sender.fullname}
              - else
                %a{href: "/#{m.sender.orcid}"} #{m.sender.fullname_reverse}
            %td
              - scientific_name = m.occurrence.scientificName.nil? ? "not recorded" : m.occurrence.scientificName
              %a{href: "https://gbif.org/occurrence/#{m.occurrence.id}", target:"_blank"} #{h(scientific_name)}
            %td #{h(m.occurrence.institutionCode)}
            %td #{h(m.occurrence.catalogNumber)}
            %td #{h(m.created_at)}

      - if @total > 25
        %tfoot{class: "thead-light"}
          %tr
          %th{scope: "col"} Thanked By
          %th{scope: "col"} Scientific Name
          %th{scope: "col"} Institution
          %th{scope: "col"} Catalog Number
          %th{scope: "col"} Date Sent

  - if @total > 25
    = haml :'partials/page_size', layout: false

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
