-content_for :title do
  #{@organization.name}

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %h2 #{@organization.name}

%p{class:"text-right"}
  %a{href: "https://www.grid.ac/disambiguate"}
    Search
  for organization on GRID
  %br
  %a{href: "https://www.wikidata.org/w/index.php?search=#{URI.encode(@organization.name)}", target: "_blank"}
    Search
  for organization on Wikidata

%form{id:"form-org-wrapper", method: "post", action: "/admin/organization/#{@organization.id}", "accept-charset" => "UTF-8", class: "helpers"}

  %div{class:"form-group"}
    %label{for:"isni"} ISNI
    %input{type:"text", class:"form-control", id:"isni", value:"#{@organization.isni}", name:"isni"}
    - if !@organization.isni.blank?
      %small{id:"isni-link", class:"form-text text-muted"}
        View known
        %a{href: "http://www.isni.org/isni/#{@organization.isni}", target:"_blank"} ISNI
  %div{class:"form-group"}
    %label{for:"ringgold"} Ringgold
    %input{type:"text", class:"form-control", id:"ringgold", value:"#{@organization.ringgold}", name:"ringgold"}
  %div{class:"form-group"}
    %label{for:"ringgold"} GRID
    %input{type:"text", class:"form-control", id:"ringgold", value:"#{@organization.grid}", name:"grid"}
    - if !@organization.grid.blank?
      %small{id:"ringgold-link", class:"form-text text-muted"}
        View known
        %a{href: "https://www.grid.ac/institutes/#{@organization.grid}", target:"_blank"} GRID
  %div{class:"form-group"}
    %label{for:"wikidata"} Wikidata
    %input{type:"text", class:"form-control", id:"wikidata", value:"#{@organization.wikidata}", name:"wikidata"}
    - if !@organization.wikidata.blank?
      %small{id:"ringgold-link", class:"form-text text-muted"}
        %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
          %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
        %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}", target:"_blank"} https://www.wikidata.org/wiki/#{@organization.wikidata}
  %div{class:"form-group"}
    %label{for:"institution_codes"} Institution Codes
    %textarea{type:"text", class:"form-control", id:"institution_codes", name:"institution_codes"}= "#{@organization.institution_codes.join("|")}"
    %small{class:"form-text text-muted"}
      Use pipe-separated values.
  %button{type:"submit", class:"btn btn-success"} Submit