-content_for :title do
  #{@admin_user.fullname} Overview

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin");
    });

%div{class:"row"}
  = haml :'partials/admin/profile_jumbotron', layout: false
  %div{id:"tabs-column", class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/admin/user_tabs', layout: false, locals: { active_page: "overview" }

    %div{class:"mt-3"}

      - if @stats[:specimens][:identified] == 0 && @stats[:specimens][:recorded] == 0 && @stats[:attributions][:helped] == 0
        %div{class: "alert alert-info tiny-margins", role: "alert"}
          Specimens not yet claimed or attributed.

      - else
        %div{class: "alert alert-info tiny-margins", role: "alert"}
          %ul{class:"list-unstyled"}
            = haml :'partials/user_stats', layout: false

      - if @admin_user.zenodo_concept_doi
        %h4 Data Package
        %p{class:"citation"}
          #{@admin_user.fullname_reverse}. #{DateTime.now.year}. Natural history specimens collected and/or identified and deposited. [Data set]. Zenodo.
          %a{href: "https://doi.org/#{@admin_user.zenodo_concept_doi}"}
            https://doi.org/#{@admin_user.zenodo_concept_doi}
        %h4 HTML
        %div{class:"alert alert-secondary"}
          %pre{class:"p-0 m-0"}
            &lt;a href="https://doi.org/#{@admin_user.zenodo_concept_doi}"&gt;&lt;img src="https://zenodo.org/badge/DOI/#{@admin_user.zenodo_concept_doi}.svg" alt="DOI"&gt;&lt;/a&gt;
        %a{href:"https://doi.org/#{@admin_user.zenodo_concept_doi}"}
          %img{src:"https://zenodo.org/badge/DOI/#{@admin_user.zenodo_concept_doi}.svg"}
