-content_for :title do
  All Accounts

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "POST", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning d-flex flex-wrap"}
    %div{class:"mr-auto"}
      %h2 All Accounts
    = haml :'partials/admin_user_search', layout: false

- sort = locals[:sort] == "asc" ? "desc" : "asc"
%div{class:"table-responsive-lg"}
  %table{class:"table table-hover table-sm"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %a{href: "/admin/users?order=family&sort=#{sort}"} Users
        %th{scope: "col"}
          %a{href: "/admin/users?order=country&sort=#{sort}"} Country
        %th{scope: "col"}
          %a{href: "/admin/users?order=visited&sort=#{sort}"} Last Login
        %th{scope: "col"}
          %a{href: "/admin/users?order=created&sort=#{sort}"} Created
        %th{scope: "col"}
          %a{href: "/admin/users?order=is_public&sort=#{sort}"} Is Public?
        %th{scope: "col"} ORCID/Wikidata

    %tbody
      - @results.each do |u|
        %tr
          %td 
            %a{href: "/admin/user/#{u.identifier}"} #{u.fullname_reverse}
          %td #{u.country}
          %td #{u.visited}
          %td #{u.created}
          %td
            - if u.is_public?
              %span{class: "text-success"} #{u.is_public}
            - else
              #{u.is_public}
          %td
            - if u.orcid
              %a{href: "https://orcid.org/#{u.orcid}"}
                %img{src: "/images/orcid_16x16.png", alt:"ORCID iD"}
              %a{href: "https://orcid.org/#{u.orcid}"} https://orcid.org/#{u.orcid}
            - else
              %a{href: "https://www.wikidata.org/wiki/#{u.wikidata}"}
                %img{src: "/images/wikidata_16x16.png", alt:"Wikidata iD"}
              %a{href: "https://www.wikidata.org/wiki/#{u.wikidata}"} https://www.wikidata.org/wiki/#{u.wikidata}

= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1