-content_for :title do
  All Users

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "POST", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}
      %h2 All Users

      %form{id:"form-user-wrapper", method: "post", action: "/admin/user/add", "accept-charset" => "UTF-8", class: "helpers"}
        %div{class:"row"}
          %div{class:"col-md-6 col-sm-12 form-group form-inline"}
            %label{for: "typeahead", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Search User"
            %div{class:"col"}
              %input{class: "typeahead user-search", id: "typeahead-user", type: :text, name: "q", placeholder: "Mary Smith", value: "#{params[:q]}", size:"30"}
          %div{class:"col-md-6 col-sm-12 form-group form-inline"}
            %div{class:"row"}
              %label{for: "orcid", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Add ORCID"
              %div{class:"col-8"}
                %input{class: "orcid-add", type: :text, name: "orcid", placeholder: "0000-0001-7618-5230", size:"22"}
            %div{class:"row", style:"margin-top:0.5rem"}
              %label{for: "wikidata", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Add Wiki ID"
              %div{class:"col-6"}
                %input{class: "orcid-add", type: :text, name: "wikidata", placeholder: "Q1234567", size:"15"}
              %input{type: :submit, class:"btn btn-success orcid-submit", value: "Submit"}

      - if !@new_user.nil?
        %div{class: "row justify-content-center text-center"}
          %div{class: "col-sm-12 col-md-10 col-xl-8"}
            - if !@new_user[:slug].nil?
              %div{class:"alert alert-success alert-dismissible fade show", role: "alert", style:"display:block"}
                %span{class:"font-weight-bold"}
                  %a{href: "/admin/user/#{@new_user[:slug]}"} #{@new_user[:fullname]}
                was created or updated
                %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
                  %span{"aria-hidden":"true"} &times;
            - else
              %div{class:"alert alert-danger alert-dismissible fade show", role: "alert", style:"display:block"}
                %span{class:"font-weight-bold"}
                  #{@new_user[:fullname]} not created because family name, birth or death date were missing
                %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
                  %span{"aria-hidden":"true"} &times;

- sort = locals[:sort] == "asc" ? "desc" : "asc"
%div{class:"table-responsive-lg"}
  %table{class:"table table-hover table-sm"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %a{href: "/admin/users?order=family&sort=#{sort}"} Users
        %th{scope: "col"}
          %a{href: "/admin/users?order=country&sort=#{sort}"} Country
        %th{scope: "col"}
          %a{href: "/admin/users?order=visited&sort=#{sort}"} Last Login
        %th{scope: "col"}
          %a{href: "/admin/users?order=created&sort=#{sort}"} Created
        %th{scope: "col"}
          %a{href: "/admin/users?order=is_public&sort=#{sort}"} Is Public?
        %th{scope: "col"} ORCID/Wikidata

    %tbody
      - @results.each do |u|
        %tr
          %td 
            %a{href: "/admin/user/#{u.identifier}"} #{u.fullname_reverse}
          %td #{u.country}
          %td #{u.visited}
          %td #{u.created}
          %td
            - if u.is_public?
              %span{class: "text-success"} #{u.is_public}
            - else
              #{u.is_public}
          %td
            - if u.orcid
              %a{href: "https://orcid.org/#{u.orcid}"}
                %img{src: "/images/orcid_16x16.png", alt:"ORCID iD"}
              %a{href: "https://orcid.org/#{u.orcid}"} https://orcid.org/#{u.orcid}
            - else
              %a{href: "https://www.wikidata.org/wiki/#{u.wikidata}"}
                %img{src: "/images/wikidata_16x16.png", alt:"Wikidata iD"}
              %a{href: "https://www.wikidata.org/wiki/#{u.wikidata}"} https://www.wikidata.org/wiki/#{u.wikidata}

= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1