-content_for :title do
  Unclaimed Specimens

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@user.id}, "POST", "/profile");
    });

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h1{class:"h3"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile_tabs', layout: false, locals: { active_page: "candidates" }

= haml :'partials/upload_claim_modal', layout: false, locals: { csv_download_url: "/profile/candidates.csv", csv_upload_url: "/profile/upload-claims"}

- alert_class = "info"
- placeholder = @user.fullname
- if !@searched_user.nil?
  - alert_class = "warning"
  - placeholder = @searched_user.fullname

- if @results.empty?
  %div{class: "alert alert-info row", role:"alert", style:"margin-left:0.1em;margin-right:0.1em"}
    %div{class: "col col-12 col-sm-12 col-m-8 col-lg-8"}
      Bloodhound did not sniff any specimens indexed by the Global Biodiversity Information Facility (GBIF) that you may have collected or identified.

      %div{class:"form-check d-inline-flex"}
        - checked = params[:relaxed] == "1" ? "checked" : nil
        %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
        %label{for:"relaxed", class:"relaxed"} Make less exact
    %div{class:"col col-12 col-sm-8 col-m-6 col-lg-4"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8", class: "form-inline"}
        %div{class: "inputs search-agent form-group"}
          %label{for: "typeahead", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Search"
          %input.typeahead{id: "typeahead-agent", type: :text, name: "q", placeholder: "#{placeholder}", value: "#{params[:q]}"}
- else
  %div{class: "alert alert-#{alert_class} row candidates-alert tiny-margins", role: "alert"}
    %div{class: "col col-12 col-sm-12 col-m-6 col-lg-8"}
      = succeed "." do
        Sniffed #{number_with_delimiter(@total, delimeter: ",")} specimens for 
        %span{class:"font-weight-bold"} #{placeholder}
      - if @searched_user.nil?
        %div{class:"form-check d-inline-flex"}
          - checked = params[:relaxed] == "1" ? "checked" : nil
          %input{type:"checkbox", class:"form-check-input", id:"relaxed", checked: checked }
          %label{for:"relaxed", class:"relaxed"} Make less exact
      %br
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18} 
      collected, 
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both.
      - if @searched_user.nil?
        Or 
        %a{href: "#", "data-toggle":"modal", "data-target":"#modal_claims"} work offline then upload 
        your claims.
      - else
        Claim the following specimen records
        %span{class:"font-weight-bold"}
          as your own.

    %div{class:"col col-12 col-sm-8 col-m-6 col-lg-4"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8", class: "form-inline"}
        %div{class: "inputs search-agent form-group"}
          %label{for: "typeahead", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Search"
          %input.typeahead{id: "typeahead-agent", type: :text, name: "q", placeholder: "#{placeholder}", value: "#{params[:q]}"}

  = haml :'partials/tables/candidates', layout: false