-content_for :title do
  Citations

-content_for :scripts do
  %script{src: "/js/application.js"}
  %script{src: "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"}
  :javascript
    $(function() {
      Application.init(#{@user[:id]}, "POST", "/profile");
    });

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h3{class:"display-6"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile_tabs', layout: false, locals: { active_page: "citations" }

- if @results.empty?
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Use of your specimen data has not yet been recorded.
- else
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    A total of #{number_with_delimiter(@pagy.count)} #{'publication'.pluralize(@pagy.count)} made use of your specimen data downloaded from the Global Biodiversity Information Facility (GBIF).

  %div{class:"citation-wrapper"}
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            #{h(article.citation)}
            %a{href: "https://doi.org/#{article.doi}"} https://doi.org/#{article.doi}
        %div{class: "card-body"}
          %div{"data-badge-popover":"right", "data-badge-type":"donut", "data-doi":"#{article.doi}", "data-hide-no-mentions":"true", class:"altmetric-embed pull-left mr-2 float-left"}
          %p{class:"card-text text-muted"} #{h(article.abstract)}
        %div{class: "card-footer d-flex"}
          %div{class: "small"}
            %span{class: "badge badge-success badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@user[:id]))}
          %a{href: "/profile/citation/#{article.id}", class:"ml-2"} specimens used

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1