-content_for :title do
  Bloodhound: Citations

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@user[:id]});
    });

-content_for :jumbotron do
  = haml :'partials/profile_jumbotron', layout: false

= haml :'partials/profile_tabs', layout: false, locals: { active_page: "citations" }

- if @results.empty?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Citations have not yet been recorded.
- else
  %div{class:"container-fluid citation-wrapper"}
    %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
      At least #{number_with_delimiter(@total)} #{'publication'.pluralize(@total)} used your specimen records within downloads from the 
      %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility 
      (GBIF).

    %h2 My Specimen Data Used in Publications
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            %a{href: "https://doi.org/#{article.doi}"} #{article.citation}
        %div{class: "card-body"}
          %dl{class: "row"}
            %dt{class: "col-sm-2"} Abstract:
            %dd{class: "col-sm-10"} #{article.abstract}
            %dt{class: "col-sm-2"} Specimens used:
            %dd{class: "col-sm-10"}
              %span{class: "badge badge-success badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@user[:id]))}
              %a{href: "/profile/citation/#{article.id}"} View
            %dt{class: "col-sm-2"} All data in study:
            %dd{class: "col-sm-10"}
              - article.gbif_dois.each do |doi|
                %a{href: "https://doi.org/#{doi}", class: "badge badge-light citation-correction"} #{doi}

  = will_paginate @results, { class: "pagination" }