-content_for :title do
  Bloodhound: Citations

-content_for :jumbotron do
  = haml :'partials/profile_jumbotron', layout: false

= haml :'partials/profile_tabs', layout: false, locals: { active_page: "citations" }

- if @results.empty?
  %div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Citations have not yet been recorded.
- else
  %div{class:"container-fluid citation-wrapper"}
    %h3 My Specimen Data Used in Published Research
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            #{article.citation}
            %a{href: "https://doi.org/#{article.doi}", class: "badge badge-light citation-correction"} doi: #{article.doi}
        %div{class: "card-body"}
          %dl{class: "row"}
            %dt{class: "col-sm-2 text-right"} Specimens used:
            %dd{class: "col-sm-10"}
              %span{class: "badge badge-success badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@user[:id]))}
              %a{href: "/profile/citation/#{article.id}"} View
            %dt{class: "col-sm-2 text-right"} All data used:
            %dd{class: "col-sm-10"}
              - article.gbif_dois.each do |doi|
                %a{href: "https://doi.org/#{doi}", class: "badge badge-light citation-correction"} doi: #{doi}

  = will_paginate @results, { class: "pagination" }