-content_for :title do
  Bloodhound: Overview

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@user[:id]});
    });

-content_for :jumbotron do
  = haml :'partials/profile_jumbotron', layout: false

= haml :'partials/profile_tabs', layout: false, locals: { active_page: "profile" }

%div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
  %ul
    - if @total[:number_identified] > 0
      %li Identified #{number_with_delimiter(@total[:number_identified])} #{'specimen'.pluralize(@total[:number_identified])}
    - if @total[:number_recorded] > 0
      %li Collected #{number_with_delimiter(@total[:number_recorded])} #{'specimen'.pluralize(@total[:number_recorded])} from at least #{number_with_delimiter(@total[:number_countries].count)} #{'country'.pluralize(@total[:number_countries].count)}
    - if @total[:number_specimens_cited] > 0
      %li #{number_with_delimiter(@total[:number_specimens_cited])} #{'specimen'.pluralize(@total[:number_specimens_cited])} cited in #{number_with_delimiter(@total[:number_articles])} published #{'work'.pluralize(@total[:number_articles])}
    - if @total[:number_helped] > 0
      %li Helped #{number_with_delimiter(@total[:number_helped])} #{'user'.pluralize(@total[:number_helped])} claim a total of #{number_with_delimiter(@total[:number_claims_given])} #{'specimen'.pluralize(@total[:number_claims_given])}
