-content_for :title do
  Bloodhound: Profile

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@user[:id]});
    });

-content_for :jumbotron do
  = haml :'partials/profile_jumbotron', layout: false

= haml :'partials/profile_tabs', layout: false, locals: { active_page: "profile" }

%div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
  = succeed "." do
    Collected #{number_with_delimiter(@total[:number_recorded])} and identified #{number_with_delimiter(@total[:number_identified])} specimens
    - if @total[:number_helped] > 0
      and helped #{number_with_delimiter(@total[:number_helped])} #{'user'.pluralize(@total[:number_helped])} claim a total of #{number_with_delimiter(@total[:number_claims_given])} #{'specimen'.pluralize(@total[:number_claims_given])}

- if @total[:number_helped] > 0
  %h2 Users Helped

  %div{class: "container-fluid"}
    %div{class: "row"}
      %div{class: "col"}
        %ul{class: "list-group"}
          - @helped.each do |u|
            %li{class: "list-group-item d-flex justify-content-between align-items-center"}
              %a{href: "/help-user/#{u[:orcid]}"} #{u[:name]}
              %span{class: "badge badge-success badge-pill"} #{number_with_delimiter(u[:count])}
      %div{class: "col"}
  
