-content_for :title do
  Settings

-content_for :scripts do
  %script{src:"/js/application.js"}
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
        Application.init(#{@user.id}, "POST", "/profile");
        Profile.init();
    });

%div{class:"container-fluid"}
  %div{class:"row"}
    = haml :'partials/profile_jumbotron', layout: false, locals: { active_page: "settings" }
    %div{class:"col-12 col-lg-8 mt-2"}
      = haml :'partials/profile_tabs', layout: false, locals: { active_page: nil }

      %div{class:"container-fluid citation-wrapper"}
        %h3 Settings
        %div{class:"row"}
          %div{class:"col-md"}
            %div{class:"card"}
              %h5{class:"card-header"} Public Availability
              %div{class:"card-body"}
                %p{class:"card-text"}
                  Include your account in public
                  = succeed "." do
                    %a{href: "/profiles"} Profiles
                  Your claims will be included in a bulk
                  %a{href: "/developers"}
                    data download
                  and exposed through Google Chrome and Firefox
                  = succeed "." do
                    %a{href:"/integrations"} extensions
                %div{class:"row"}
                  %div{class:"col"}
                    %input{type:"checkbox", id: "toggle-public", "data-toggle":"toggle", "data-on":"Public", "data-off":"Private", "data-onstyle": "success", "data-size": "medium", checked: @user.is_public?, class:"btn-claim" }
                  %div{class:"col text-right"}
                    - if @user.is_public?
                      %a{href: "/#{@user.orcid}", target: "_blank"}
                        Public Profile
                        %i{class:"fas fa-external-link-alt"}

          %div{class:"col-md"}
            %div{class:"card"}
              %h5{class:"card-header"} Make Your Claims Citable
              %div{class:"card-body"}
                - if !@user.zenodo_concept_doi
                  %p{class:"card-text"}
                    Connect your account to
                    %a{href:"https://zenodo.org/", target:"_blank"}
                      Zenodo
                      %i{class:"fas fa-external-link-alt"}
                    where versioned snapshots of your claims will be automatically stored and a DataCite DOI assigned. Once connected, a citation will be provided for inclusion in your professional resume.
                  - if @user.zenodo_access_token.empty?
                    %p{class:"card-text"}
                      %a{href:"/auth/zenodo", role:"button", class:"btn btn-x-sm btn-outline-info"}
                        Integrate with Zenodo
                  - elsif !@user.zenodo_access_token.empty?
                    %p{class:"alert alert-success"}
                      %i{class:"fas fa-check-circle"}
                      Your account is now linked and data will be pushed within the hour

                - else
                  %p{class:"card-text"}
                    Your profile is linked to
                    %a{href:"https://doi.org/#{@user.zenodo_concept_doi}", target:"_blank"}
                      Zenodo
                      %i{class:"fas fa-external-link-alt"}
                    and your claims are versioned and archived.
                  %p
                    %a{href:"https://doi.org/#{@user.zenodo_concept_doi}"}
                      %img{src:"https://zenodo.org/badge/DOI/#{@user.zenodo_concept_doi}.svg"}

        %div{class:"row"}
          %div{class:"col-md"}
            %div{class:"card"}
              %h5{class:"card-header"}
                %img{src:"/images/orcid_24x24.png", alt: "ORCID"}
                ORCID
              %div{class:"card-body"}
                %p{class:"card-text"} Pull new updates to your name, aliases, keywords, country, education, and employment from your ORCID account.
                %p
                  %a{ href:"/profile/refresh.json?user_id=#{@user.id}", role:"button", class:"btn btn-x-sm btn-outline-success profile-refresh"}
                    %i{class: "fas fa-sync-alt"}
                    Refresh
                %div{class:"alert alert-success alert-dismissible fade show text-center", role: "alert"}
                  ORCID Data was refreshed.
                  %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
                    %span{"aria-hidden":"true"} &times;

          %div{class:"col-md"}
