-content_for :title do
  Specimens

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@user[:id]}, "PUT", "/profile");
    });

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h1{class:"h3"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile/tabs', layout: false, locals: { active_page: "specimens"}
    = haml :'partials/profile/subtabs', layout: false, locals: { active_tab: "specimens"}

- if @results.empty?
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    You have not yet claimed any specimens. See the Discovered link above.

- if !@results.empty?

  %div{class: "alert alert-info row tiny-margins", role: "alert"}
    %div{class: "col col-9"}
      Choose
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
      collected,
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both to correct your claims.
    %div{class: "col col-3 text-right"}
      %a{href: "/profile/download.csv"}
        %img{src: "/images/csv-icon.png", width:24, alt: "CSV download", style:"margin-right:0.5rem"}
      %a{href: "/profile/download.json"}
        %img{src: "/images/json-icon.png", width:24, alt: "JSON download"}

  = haml :'partials/tables/specimens', layout: false
