-content_for :title do
  Upload

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@user[:id]}, "POST", "/profile");
    });

%div{class:"row"}
  %div{class:"col-12 col-lg-4"}
    %h1{class:"h3"}= @user.fullname
  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/profile_tabs', layout: false, locals: { active_page: "candidates" }

- if flash[:error]
  %div{class: "alert alert-danger tiny-margins", role: "alert"}
    #{flash[:error]}
    %a{href: "/profile/candidates"} Try again.

- else
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    A total of 
    %span{class:"font-weight-bold"} #{number_with_delimiter(@record_count)} #{'record'.pluralize(@record_count)} 
    were handled. Existing claims, if present in your upload, were skipped.
    %a{href: "/profile/specimens"}
      View
    all your claims.