%div{class:"col-12 col-lg-4 text-center sidebar alert-warning pt-3 pb-3"}
  %form{id:"form-wrapper", method: :post, action: "/", enctype: "multipart/form-data", "accept-charset": "UTF-8", class: "form"}
    - bg_class = @admin_user.image_url ? "" : "profile-image-bg" 
    %div{id:"profile-image", class:"image-placeholder rounded mx-auto d-block align-self-center align-items-center #{bg_class}"}
      %img{src:"#{profile_image(@admin_user)}"}
      - if locals[:active_page] == "settings"
        %span
          %a{href:"#"} Change profile photo
        %ul{id:"profile-upload-option", class:"list-group"}
          %li{class:"list-group-item profile-upload-option-list"}
            %input{name:"user-image", id:"user-image", type:"file", accept:"image/x-png,image/jpeg"}
            %span Upload
          %li{id:"profile-remove", class:"list-group-item profile-upload-option-list"} Remove
          %li{id:"profile-cancel", class:"list-group-item profile-upload-option-list"} Cancel

  %h3{class:"display-6"}= @admin_user.fullname

  - if !@admin_user.other_names.blank?
    %p{class:"text-center text-muted p-0"} #{@admin_user.other_names.split("|").join("; ")}

  - if @admin_user.wikidata
    %p{class:" text-center text-muted p-0"}= format_lifespan(@admin_user)

  - if !@admin_user.keywords.blank?
    %p{class: "text-center text-muted font-italic"}
      #{@admin_user.keywords.split("|").join(", ")}

  %p{class: "orcid text-lg-left p-0 mt-4"}
    - if @admin_user.orcid
      %a{href: "https://orcid.org/#{@admin_user.orcid}"}
        %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
          %a{href: "https://orcid.org/#{@admin_user.orcid}"} https://orcid.org/#{@admin_user.orcid}
    - else
      %a{href: "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"}
        %img{src: "/images/wikidata_24x24.png", alt:"WIkidata iD"}
          %a{href: "https://www.wikidata.org/wiki/#{@admin_user.wikidata}"} https://www.wikidata.org/wiki/#{@admin_user.wikidata}

  - if !@admin_user.current_organization.nil?
    %p{class: "text-lg-left p-0 m-0"}
      - path = @admin_user.current_organization.identifier
      = succeed "," do
        %i{class:"fas fa-building"}
        %a{href: "/organization/#{path}"} #{@admin_user.current_organization.name}
      #{@admin_user.current_organization.address}

  - if !@admin_user.country.blank?
    %p{class:"text-lg-left p-0 m-0"}
      %i{class:"fas fa-globe"}
      #{@admin_user.country}

  - if locals[:active_page] != "settings"
    %p{class:"mb-0"}
      %a{href:"/admin/user/#{@admin_user.identifier}/settings"}
        %i{class:"fas fa-cog"}
        Settings