%div{class:"jumbotron jumbotron-fluid alert-warning"}
  %div{class: "container-fluid"}

    %h2{class:"display-4 text-center"}= @admin_user.fullname

    %div{class: "row justify-content-center text-center"}
      %div{class: "col-sm-12 col-md-10 col-xl-10"}
        %div.row
          - if !@admin_user.other_names.blank?
            %dl{class: "col"}
              %dt Also known as
              %dd #{@admin_user.other_names.split("|").join("; ")}
          - if !@admin_user.country.blank?
            %dl{class: "col"}
              %dt Country
              %dd #{@admin_user.country}
          - if !@admin_user.current_organization.nil?
            %dl{class: "col"}
              - path = @admin_user.current_organization.ringgold || @admin_user.current_organization.grid
              %dt Organization
              %dd
                = succeed "," do
                  %a{href: "/organization/#{path}"} #{@admin_user.current_organization.name}
                #{@admin_user.current_organization.address}

        %div.row
          %div{class: "col orcid text-center"}
            %a{href: "https://orcid.org/#{@admin_user.orcid}"}
              %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
            %a{href: "https://orcid.org/#{@admin_user.orcid}"} https://orcid.org/#{@admin_user.orcid}

        %div.row
          %div{id: "profile-buttons", class: "col text-center"}
            %input{type:"checkbox", id: "toggle-public", "data-toggle":"toggle", "data-on":"Public", "data-off":"Private", "data-onstyle": "success", "data-size": "small", checked: is_user_public?, class:"btn-claim" }
            - if is_user_public?
              %a{href: "/#{@admin_user.orcid}", target: "_blank", role: "button", class:"btn btn-sm btn-outline-success"} Public Profile
            %a{ href:"/orcid-refresh.json?user_id=#{@admin_user.id}", role: "button", class:"btn btn-sm btn-outline-success orcid-refresh"} Refresh ORCID Data

        %div{class:"alert row alert-success alert-dismissible fade show", role: "alert"}
          ORCID Data was refreshed.
          %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
            %span{"aria-hidden":"true"} &times;