%div{class:"jumbotron jumbotron-fluid"}
  %div{class:"d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 #{@organization.name}
      %p{class:"text-muted"} #{@organization.address}
      - if @organization.website
        %p{class:"mb-0"}
          %a{href: "#{@organization.website}", class:"mr-3"} #{@organization.website}
    %div{class:"p-2"}
      %form{id:"form-org-wrapper", method: "get", action: "/organizations/search", "accept-charset" => "UTF-8", class: "form-inline helpers"}
        %div{class: "form-group w-75"}
          %input{class:"typeahead organization-search", id:"typeahead-organization", type: :text, name: "q", placeholder: "#{@organization.name}", value: "#{params[:q]}", size:"25"}
        %input{type: :submit, class:"btn btn-success", value:"Search", style:"margin-left:0.25rem;margin-right:0.25rem;"}

  - if @organization.image_url || @organization.latitude
    %div{class:"d-flex flex-wrap"}
      - if @organization.image_url
        %div{class:"m-1"}
          %img{src:"https://abekpgaoen.cloudimg.io/crop/350x200/q100/#{@organization.image_url}", class:"rounded mx-auto img-fluid", alt:"#{@organization.name}"}
      - if @organization.latitude
        %div{style:"width:350px; height:200px;", class:"m-1"}
          %div{id:"mapid", class:"w-100 h-100"}
  - if @organization.wikidata
    %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
      %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
    %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"} https://www.wikidata.org/wiki/#{@organization.wikidata}
  - if admin_authorized?
    %br
    %a{href: "/admin/organization/#{@organization.id}"}
      %i{class:"fas fa-cog"}
      Settings