%form{id:"form-wrapper", method: :post, action: "/", enctype: "multipart/form-data", "accept-charset": "UTF-8", class: "form"}
  - bg_class = @user.image_url ? "" : "profile-image-bg" 
  %div{id:"profile-image", class:"image-placeholder rounded mx-auto d-block align-self-center align-items-center #{bg_class}"}
    %img{src:"#{profile_image(@user)}"}
    - if locals[:active_page] == "settings"
      %span
        %a{href:"#"} Change profile photo
      %ul{id:"profile-upload-option", class:"list-group"}
        %li{class:"list-group-item profile-upload-option-list"}
          %input{name:"user-image", id:"user-image", type:"file", accept:"image/x-png,image/jpeg"}
          %span Upload
        %li{id:"profile-remove", class:"list-group-item profile-upload-option-list"} Remove
        %li{id:"profile-cancel", class:"list-group-item profile-upload-option-list"} Cancel

%h3{class:"display-6"}= @user.fullname

- if !@user.other_names.blank?
  %div{class:"text-center text-muted"} #{@user.other_names.split("|").join("; ")}

%div{class: "text-center"}
  - if !@user.current_organization.nil?
    - path = @user.current_organization.identifier
    = succeed "," do
      %a{href: "/organization/#{path}"} #{@user.current_organization.name}
    #{@user.current_organization.address}
  - if !@user.current_organization.nil? && !@user.country.blank?
    |
  - if !@user.country.blank?
    #{@user.country}

%p{class: "orcid text-center"}
  %a{href: "https://orcid.org/#{@user.orcid}"}
    %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
      %a{href: "https://orcid.org/#{@user.orcid}"} https://orcid.org/#{@user.orcid}
- if !@user.keywords.blank?
  %p{class: "text-center text-muted font-italic"}
    #{@user.keywords.split("|").join(", ")}
- if locals[:active_page] != "settings"
  %p
    %a{href:"/profile/settings"}
      %i{class:"fas fa-cog"}
      Account settings