%div{class:"modal fade", id:"modal_claims", tabindex:"-1", role:"dialog", "aria-labelledby":"modal_claims_title", "aria-hidden":"true"}
  %div{class:"modal-dialog modal-dialog-centered modal-lg", role:"document"}
    %div{class:"modal-content"}
      %div{class:"modal-header"}
        %h4{class:"modal-title", id:"modal_claims_longtitle"} Work offline
        %button{type:"button", class:"close", "data-dismiss":"modal", "aria-label":"Close"}
          %span{"aria-hidden":"true"} &times;
      %div{class:"modal-body"}
        %p
          Download discovered specimen
          = succeed ", " do
            - if locals[:user]
              records for
              %strong #{locals[:user].fullname}
            - else
              records
          work offline, then upload new claims as a csv. Only csv files containing 
          %span{class:"font-weight-bold"} 5000 recorders or fewer
          with a single header row minimally containing
          %span{class:"font-weight-bold"} action
          or
          %span{class:"font-weight-bold"} not me
          and
          %span{class:"font-weight-bold"} gbifID
          are produced. If you have many more than this, you may work in batches. This routine does not update underlying specimen data nor does it update existing claims; if existing claims are present in the upload, these will be skipped.
        %p{class:"text-center"}
          %img{src: "/images/candidates-instructions.png", alt: "Instructions for offline claims", class:"rounded img-fluid"}
        %form{id:"form-wrapper", method: :post, action: "#{locals[:csv_upload_url]}", enctype: "multipart/form-data", "accept-charset": "UTF-8", class: "form"}
          - relaxed = params["relaxed"] == "1" ? "?relaxed=1" : nil
          %div{class:"form-group row"}
            %div{class:"col-sm-4 col-form-label col-form-label-sm text-xs-left text-sm-right"} Download discovered records
            %div{class:"col-sm-8"}
              %a{href: "#{locals[:csv_download_url]}#{relaxed}"}
                %img{src: "/images/csv-icon.png", width:24, alt: "CSV download"}
          %div{class:"form-group row"}
            %label{for:"candidate-file", class:"col-sm-4 col-form-label col-form-label-sm text-xs-left text-sm-right"} Upload csv with claims
            %div{class:"col-sm-8"}
              %input{type:"file", class:"form-control-file", id:"candidate-file", name: "file"}
              %button{type:"submit", class:"btn btn-success mt-3"} Submit

      %div{class:"modal-footer"}
        %button{type:"button", class:"btn btn-secondary", "data-dismiss":"modal"} Close