%div{class: "card card-profile my-3"}
  - if locals[:user].image_url
    %div{class: "card-header d-flex"}
      %div
        %img{src:"#{profile_image(locals[:user], 'medium')}", alt:"#{locals[:user].fullname}", class:"card-img-profile mr-2"}
      %div{class:"flex-grow-1"}
        %h5
          %a{href: "#{locals[:path]}/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
        - if locals[:user].wikidata
          %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(locals[:user])
        - if locals[:user].country
          %p{class:"small text-muted mt-0 mb-0"} #{locals[:user].country.split("|").join("; ")}
  - else
    %div{class: "card-header"}
      %h5
        %a{href: "#{locals[:path]}/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
      - if locals[:user].wikidata
        %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(locals[:user])
      - if locals[:user].country
        %p{class:"small text-muted mt-0 mb-0"} #{locals[:user].country.split("|").join("; ")}

  %div{class: "card-body"}

  %div{class: "card-footer d-flex"}
    %div{class: "small text-right text-muted mr-2"}
      - if locals[:user].is_public?
        %i{class:"fas fa-users text-success"}
      - else
        %i{class:"fas fa-lock"}
    %div{class: "small text-left text-muted mr-2"}
      - count = locals[:user].all_occurrences_count
      - color = count == 0 ? "light" : "success"
      %span{class:"badge badge-#{color}"} #{number_with_delimiter(count)}
      #{'specimen'.pluralize(count)} claimed