%div{class: "card my-3"}
  %div{class:"card-header"}
    %h5
      %a{href: "/help-others/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
  %div{class: "card-body"}
    - if locals[:user].country
      %p{class:"small text-muted mt-0 mb-0"} #{locals[:user].country.split("|").join("; ")}
    - if locals[:user].wikidata
      %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(locals[:user])
    %div{class: "d-flex mt-2"}
      %div{class: "small text-right text-muted mr-2"}
        - if locals[:user].is_public?
          %i{class:"fas fa-users text-success"}
        - else
          %i{class:"fas fa-lock"}
      %div{class: "small text-left text-muted mr-2"}
        - count = locals[:user].all_occurrences_count
        - color = count == 0 ? "light" : "success"
        %span{class:"badge badge-#{color}"} #{number_with_delimiter(count)}
        #{'specimen'.pluralize(count)}