%ul{class: "nav nav-tabs justify-content-center"}
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "overview" ? " active" : nil}", href: "/#{@viewed_user.identifier}"} Overview
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "specialties" ? " active" : nil}", href: "/#{@viewed_user.identifier}/specialties"} Specialties
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "network" ? " active" : nil}", href: "/#{@viewed_user.identifier}/network"} Network
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "deposits" ? " active" : nil}", href: "/#{@viewed_user.identifier}/deposited-at"} Deposited At
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "citations" ? " active" : nil}", href: "/#{@viewed_user.identifier}/citations"} Science Enabled
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "specimens" ? " active" : nil}", href: "/#{@viewed_user.identifier}/specimens"} Specimens