%div{class:"jumbotron jumbotron-fluid"}

  - if locals[:search]
    %div{class:"d-flex flex-row-reverse"}
      = haml :'partials/help_others_search', layout: false

  %div{class:"row"}
    %div{class:"col"}
      - if @viewed_user.image_url
        %img{src:"#{profile_image(@viewed_user)}", class:"rounded mx-auto d-block", alt:"#{@viewed_user.fullname}"}

    %div{class:"col-12 col-md-6"}

      %h2{class:"display-4 text-center"}= @viewed_user.fullname

      - if !@viewed_user.other_names.blank?
        %div{class:"text-center text-muted"} #{@viewed_user.other_names.split("|").join("; ")}

      - if @viewed_user.date_born || @viewed_user.date_died
        %div{class: "text-center text-muted"}
          = format_lifespan(@viewed_user)

      %div{class: "text-center"}
        - org = @viewed_user.current_organization
        - if !org.nil?
          = succeed "," do
            %a{href: "/organization/#{org.identifier}"} #{org.name}
          #{org.address}
        - if !@viewed_user.current_organization.nil? && !@viewed_user.country.blank?
          |
        - if !@viewed_user.country.blank?
          #{@viewed_user.country.split("|").join(", ")}

      %div{class: "orcid text-center"}
        - if @viewed_user.orcid
          %a{href: "https://orcid.org/#{@viewed_user.orcid}"}
            %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
          %a{href: "https://orcid.org/#{@viewed_user.orcid}"} https://orcid.org/#{@viewed_user.orcid}
        - else
          %a{href: "https://www.wikidata.org/wiki/#{@viewed_user.wikidata}"}
            %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
            %a{href: "https://www.wikidata.org/wiki/#{@viewed_user.wikidata}"} https://www.wikidata.org/wiki/#{@viewed_user.wikidata}

      - if !@viewed_user.keywords.blank?
        %div{class: "text-center text-muted font-italic"}
          #{@viewed_user.keywords.split("|").join(", ")}

    %div{class:"col"}

  %div{class:"row"}
    %div{class:"col"}
    %div{class:"col text-center"}
      - if @viewed_user.zenodo_doi
        %a{href:"https://doi.org/#{@viewed_user.zenodo_doi}"}
          %img{src:"https://zenodo.org/badge/DOI/#{@viewed_user.zenodo_doi}.svg"}
    %div{class:"col text-right"}
      - if Sinatra::Application.settings.base_url && !locals[:search] && @viewed_user.can_comment?
        %i{class:"fas fa-comments"}
        %a{href: "#{Sinatra::Application.settings.base_url}/#{@viewed_user.identifier}/comments#disqus_thread", class:"disqus-comment-count", "data-disqus-identifier":"#{@viewed_user.identifier}"} Field notes