- if locals[:user].top_family_identified
  - id_statement = "identified #{locals[:user].top_family_identified}"
- if locals[:user].top_family_recorded
  - recorded_statement = "collected #{locals[:user].top_family_recorded}"
- statement = nil
- if locals[:user].top_family_identified || locals[:user].top_family_recorded
  - statement = [id_statement,recorded_statement].compact.join(" and ")
  - statement = statement.slice(0,1).capitalize + statement.slice(1..-1)
%div{class: "card my-3"}
  %div{class: "card-header"}
    - title_class = locals[:user].image_url ? "fullheight" : ""
    %h5{class:title_class}
      - if locals[:user].image_url
        %img{src:"#{profile_image(locals[:user], 'medium')}", alt:"#{locals[:user].fullname}", class:"card-img-profile mr-2 float-left"}
      %span{class:"clearfix"}
        %a{href: "/#{locals[:user].identifier}"} #{locals[:user].fullname_reverse}
  %div{class: "card-body"}
    - if locals[:user].wikidata
      %p{class:"small text-muted mt-0 mb-0"}= format_lifespan(locals[:user])
    - if locals[:user].country
      %p{class:"small text-muted mt-0 mb-0"} #{locals[:user].country.split("|").join("; ")}
    %p{class:"card-text mt-2"} #{statement}
  %div{class: "card-footer d-flex"}
    %div{class: "small text-right text-muted mr-2"}
      - if locals[:user].is_public?
        %i{class:"fas fa-users text-success"}
      - else
        %i{class:"fas fa-lock"}
    %div{class: "small text-left text-muted mr-2"}
      - count = locals[:user].all_occurrences_count
      - color = count == 0 ? "light" : "success"
      %span{class:"badge badge-#{color}"} #{number_with_delimiter(count)}
      #{'specimen'.pluralize(count)} claimed