-content_for :title do
  #{@organization.name}: Bloodhound

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid row"}
    %div{class: "container-fluid col"}
      %h2 #{@organization.name}
      %p{class:"text-muted"} #{@organization.address}

    %div{class:"col col-12 col-sm-8 col-m-6 col-lg-4"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8", class: "form-inline"}
        %div{class: "inputs search-organization form-group"}
          %label{for: "typeahead", class:"font-weight-bold col-form-label", style:"margin-right:1rem"}= "Search"
          %input.typeahead{id: "typeahead-organization", type: :text, name: "q", placeholder: "#{@organization.name}", value: "#{params[:q]}"}

%div{class:"container-fluid"}
  %ul{class: "nav nav-tabs"}
    %li{class: "nav-item"}
      %a{class: "nav-link#{locals[:active_tab] == "organization-current" ? " active" : nil}", href: "/organization/#{@organization.identifier}"} Current
    %li{class: "nav-item"}
      %a{class: "nav-link#{locals[:active_tab] == "organization-past" ? " active" : nil}", href: "/organization/#{@organization.identifier}/past"} Previous

  - if @results.empty?
    %div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
      - prefix = locals[:active_tab] == "organization-current" ? "Current" : "Previous"
      #{prefix} members of #{@organization.name} have not yet been recorded.
  - else
    - @results.in_groups_of(3).each do |group|
      %div{class: "row"}
        - group.each do |u|
          %div{class: "col-sm"}
            - if !u.nil?
              - cache_fragment(u.orcid) do
                = haml :'partials/user_card', layout: false, locals: { user: u }

    = will_paginate @results, { class: "pagination" }