-content_for :title do
  #{@organization.name}: Bloodhound

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 #{@organization.name}
      %p{class:"text-muted"} #{@organization.address}
      - if @organization.website
        %p
          %a{href: "#{@organization.website}"} #{@organization.website}
      - if @organization.image_url
        %div
          %img{src:"https://abekpgaoen.cloudimg.io/height/200/x/#{@organization.image_url}", class:"rounded mx-auto", alt:"#{@organization.name}"}
          %p
            %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"}
              %img{src: "/images/wikidata_24x24.png", alt:"Wikidata iD"}
              %a{href: "https://www.wikidata.org/wiki/#{@organization.wikidata}"} https://www.wikidata.org/wiki/#{@organization.wikidata}
    = haml :'partials/organization_search', layout: false

%div{class:"container-fluid"}
  = haml :'partials/organization_tabs', layout:false, locals: { active_tab: locals[:active_tab] }

  - if @results.empty?
    %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
      - prefix = locals[:active_tab] == "organization-current" ? "Current" : "Previous"
      #{prefix} members of #{@organization.name} have not yet been recorded.
  - else
    - @results.in_groups_of(3).each do |group|
      %div{class: "row"}
        - group.each do |u|
          %div{class: "col-sm"}
            - if !u.nil?
              - cache_fragment(u.identifier) do
                = haml :'partials/user_card', layout: false, locals: { user: u }

    = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1