-content_for :title do
  #{@organization.name}: Bloodhound

-content_for :stylesheets do
  - if @organization.latitude
    %link{href: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", rel: "stylesheet", type: "text/css"}

-content_for :scripts do
  %script{src: "/js/application.js"}
  - if @organization.latitude
    %script{src: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"}
    :javascript
      $(function() {
        var mymap = L.map('mapid').setView([#{@organization.latitude}, #{@organization.longitude}], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZHNob3J0aG91c2UiLCJhIjoiY2p1aG81cDZ0MGpscTRkcG5rMjdoOWNkeCJ9.yRdxFszrFvljWz6GbdinTA', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(mymap);

        L.marker([#{@organization.latitude}, #{@organization.longitude}]).addTo(mymap).bindPopup("<b>#{@organization.name}</b>");
      });
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  = haml :'partials/organization_jumbotron', layout:false

%div{class:"container-fluid"}
  = haml :'partials/organization_tabs', layout:false, locals: { active_tab: locals[:active_tab] }

  - if @results.empty?
    %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
      - prefix = locals[:active_tab] == "organization-current" ? "Current" : "Previous"
      #{prefix} members of #{@organization.name} have not yet been recorded.
  - else
    - @results.in_groups_of(3).each do |group|
      %div{class: "row"}
        - group.each do |u|
          %div{class: "col-sm"}
            - if !u.nil?
              - cache_fragment(u.identifier) do
                = haml :'partials/user_card', layout: false, locals: { user: u }

    = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1