-content_for :title do
  Organizations

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 Organizations
      %p.lead.text-muted
        From employment and academic records in
        %a{href: "https://orcid.org/"} ORCID
        accounts
    = haml :'partials/organization_search', layout: false


%div{class:"container-fluid"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |o|
        %div{class: "col-sm"}
          - if !o.nil?
            %div{class: "card", style:"margin:20px"}
              %h5{class: "card-header"}
                %a{href: "/organization/#{o.identifier}"} #{o.name}
              %div{class: "card-body"}
                %div{class: "row"}
                  %div{class: "col small text-left text-muted"}
                  %div{class: "col small text-right text-muted"}
                    %span{class:"badge badge-success"} #{number_with_delimiter(o.active_users.count)}
                    #{'member'.pluralize(o.active_users.count)}
                %p{class:"card-text",style:"margin-top:5px;"}
                  #{o.address}

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1