-content_for :title do
  Organizations

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 Organizations
      %p.lead.text-muted
        From employment and academic records in
        %a{href: "https://orcid.org/"} ORCID
        accounts
    = haml :'partials/organization_search', layout: false


%div{class:"container-fluid"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "card-deck"}
      - group.each do |o|
        - if o.nil?
          %div{class:"card", style:"border:0px"}
        - else
          %div{class: "card m-3"}
            %div{class: "card-header"}
              - title_class = o.image_url ? "fullheight" : ""
              %h5{class: title_class}
                - if o.image_url
                  %img{src:"#{organization_image(o, 'medium')}", alt:"#{o.name}", class:"mr-2 rounded float-left"}
                %span{class:"clearfix"}
                  %a{href: "/organization/#{o.identifier}"} #{o.name}
            %div{class: "card-body"}
              %p{class:"text-muted"} #{o.address}
            %div{class: "card-footer"}
              %div{class: "col small text-left text-muted"}
              %div{class: "col small text-right text-muted"}
                - count = o.active_users.count
                - color = count == 0 ? "light" : "success"
                %span{class:"badge badge-#{color}"} #{number_with_delimiter(count)}
                #{'member'.pluralize(count)}

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1