= haml :'partials/dataset_twitter_img', layout: false

-content_for :title do
  #{@dataset.title}

%div{class:"row"}
  = haml :'partials/dataset_jumbotron', layout:false

  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/dataset_tabs', layout:false, locals: { active_tab: locals[:active_tab] }

    - if @pagy.count == 0
      %div{class: "alert alert-info tiny-margins", role: "alert"}
        Unverified and unresolved names that are associated with specimens represented in this dataset have not yet been recorded.
    - else
      %div{class: "alert alert-info tiny-margins", role: "alert"}
        #{number_with_delimiter(@pagy.count)} unverified and unresolved names that are associated with specimens represented in this dataset.

      %div{class: "row"}
        - @results.in_groups_of(25, false).each do |group|
          %div{class: "col-12 col-sm-3 mb-3"}
            %ul{class: "list-unstyled m-2"}
              - group.each do |a|
                %li
                  %a{href:"/agent/#{a.id}"} #{a.fullname_reverse}

      = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
