= haml :'partials/dataset/twitter_img', layout: false

-content_for :title do
  #{@dataset.title} People

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

%div{class:"row"}
  = haml :'partials/dataset/jumbotron', layout:false

  %div{class:"col-12 col-lg-8 mt-2"}
    = haml :'partials/dataset/tabs', layout:false, locals: { active_tab: locals[:active_tab] }

    - if @pagy.count == 0
      %div{class: "alert alert-info tiny-margins", role: "alert"}
        People have not yet claimed or were attributed specimens represented in this dataset.
    - else
      %div{class: "alert alert-info tiny-margins row", role: "alert"}
        %div{class: "col col-9"}
          #{number_with_delimiter(@pagy.count)} #{'person'.pluralize(@pagy.count)} claimed or were attributed specimens represented in this dataset.
        %div{class: "col col-3 text-right"}
          - if @compressed_file_size
            %a{href: "/dataset/#{@dataset.datasetKey}.zip", alt: "Frictionless Data package"}
              %i{class:"fas fa-file-archive text-dark h5 m-0 p-1"}
              Frictionless Data
            (#{@compressed_file_size} MB)

      - @results.in_groups_of(3).each do |group|
        %div{class: "card-deck"}
          - group.each do |u|
            - if u.nil?
              %div{class:"card", style:"border:0px"}
            - else
              - cache_fragment(u.identifier) do
                = haml :'partials/user/card', layout: false, locals: { user: u }

      = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1
