-content_for :title do
  Bloodhound: #{@admin_user.fullname} Candidate Specimens

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@admin_user.id}, "POST", "/admin");
    });

-content_for :jumbotron do
  = haml :'partials/admin_profile_jumbotron', layout: false

%ul{class: "nav nav-tabs"}
  %li{class: "nav-item "}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}"} Claimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link active", href: "/admin/user/#{@admin_user.orcid}/candidates"} Unclaimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}/ignored"} Ignored Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}/support"} Help Received

- if @results.empty?
  %div{class: "alert alert-info", role:"alert"}
    Did not sniff any specimens indexed by the 
    %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility
    (GBIF).
- else
  %div{class: "alert alert-info", role: "alert"}
    Bloodhound sniffed #{number_with_delimiter(@total, delimeter: ",")} specimens. Choose
    %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18} 
    collected, 
    %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
    identified, or Both.

  %table{class:"table table-hover table-sm"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          = haml :'partials/bulk_selector_top', layout: false
        %th{scope: "col"} Scientific Name
        %th{scope: "col"} Collected By
        %th{scope: "col"} Identified By
        %th{scope: "col"} Date Collected
        %th{scope: "col"} Date Identified
        %th{scope: "col"} Institution
        %th{scope: "col"} Catalog Number
        %th{scope: "col"} Type Status

    %tbody
      - @results.each do |o|
        %tr
          %td
            = haml :'partials/single_selector', layout: false, locals: { occurrence: o }
          %td
            - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
            %a{href: "https://www.gbif.org/occurrence/#{o.id}", target: "_blank" } #{scientific_name}
          %td #{o.recordedBy}
          %td #{o.identifiedBy}
          %td #{o.eventDate}
          %td #{o.dateIdentified}
          %td #{o.institutionCode}
          %td #{o.catalogNumber}
          %td #{o.typeStatus}

    - if @total >= 25
      %tfoot{class: "thead-light"}
        %tr
          %th{scope: "col"}
            = haml :'partials/bulk_selector_bottom', layout: false
          %th{scope: "col"} Scientific Name
          %th{scope: "col"} Collected By
          %th{scope: "col"} Identified By
          %th{scope: "col"} Date Collected
          %th{scope: "col"} Date Identified
          %th{scope: "col"} Institution
          %th{scope: "col"} Catalog Number
          %th{scope: "col"} Type Status

  - if @total >= 25
    = haml :'partials/page_size', layout: false
                
  = will_paginate @results, { class: "pagination" }