-content_for :title do
  Bloodhound: #{@admin_user.fullname} Help Received

-content_for :scripts do
  %script{src:"/js/application.js"}
  :javascript
    $(function() {
        Application.init(#{@admin_user.id}, "PUT", "/admin");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}

      %h2{class:"display-4 text-center"}= @admin_user.fullname

      %div{class: "row justify-content-center text-center"}
        %div{class: "col-xl-8"}
          %div.row
            - if !@admin_user.other_names.blank?
              %dl{class: "col"}
                %dt Also known as
                %dd #{@admin_user.other_names.split("|").join("; ")}
            - if !@admin_user.country.blank?
              %dl{class: "col"}
                %dt Country
                %dd #{@admin_user.country}
          %div.row
            %div{class: "col orcid text-center"}
              %a{href: "https://orcid.org/#{@admin_user.orcid}"}
                %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
              %a{href: "https://orcid.org/#{@admin_user.orcid}"} https://orcid.org/#{@admin_user.orcid}

          %div.row
            %div{id: "profile-buttons", class: "col text-center"}
              %input{type:"checkbox", id: "toggle-public", "data-toggle":"toggle", "data-on":"Public", "data-off":"Private", "data-onstyle": "success", "data-size": "small", checked: is_user_public?, class:"btn-claim" }
              %a{ href:"/orcid-refresh.json?user_id=#{@admin_user.id}", role: "button", class:"btn btn-sm btn-outline-success orcid-refresh"} Refresh ORCID Data

          %div{class:"alert row alert-success alert-dismissible fade show", role: "alert"}
            ORCID Data was refreshed.
            %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
              %span{"aria-hidden":"true"} &times;

%ul{class: "nav nav-tabs"}
  %li{class: "nav-item "}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}"} Claimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}/candidates"} Unclaimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/admin/user/#{@admin_user.orcid}/ignored"} Ignored Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link active", href: "/admin/user/#{@admin_user.orcid}/support"} Help Received

- if @results.empty?
  %div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Bloodhound users have not yet helped claim specimens.

- if !@results.empty?

  %div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    %div{class: "col-12"}
      Choose 
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18} 
      collected, 
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified, or Both.

  %table{class:"table table-hover table-sm"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %div.bulk-label Bulk Reassignment
          %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
            %label{class:"btn btn-choice btn-dark"}
              %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "recorded", autocomplete:"off"}
                %img{src:"/images/net.png", alt:"Collected All", title:"Collected All", width:18}
            %label{class:"btn  btn-choice btn-dark"}
              %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "identified", autocomplete:"off"}
                %img{src:"/images/microscope.png", alt:"Identified All", title: "Identified All",width:18}
            %label{class:"btn  btn-choice btn-dark"}
              %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "recorded,identified", autocomplete:"off"} Both
        %th{scope: "col"} Scientific Name
        %th{scope: "col"} Collected By
        %th{scope: "col"} Identified By
        %th{scope: "col"} Date Collected
        %th{scope: "col"} Date Identified
        %th{scope: "col"} Institution
        %th{scope: "col"} Catalog Number
        %th{scope: "col"} Type Status
        %th{scope: "col"} Helper

    %tbody
      - @results.each do |o|
        %tr
          %td
            %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
              %label{class:"btn btn-choice btn-light #{active_class(o[:action], "recorded")}"}
                %input{type:"radio", class:"action-radio", name:"selection-#{o[:user_occurrence_id]}", "data-occurrence-id":"#{o[:user_occurrence_id]}", "data-action": "recorded", autocomplete:"off"}
                  %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
              %label{class:"btn  btn-choice btn-light #{active_class(o[:action], "identified")}"}
                %input{type:"radio", class:"action-radio", name:"selection-#{o[:user_occurrence_id]}", "data-occurrence-id":"#{o[:user_occurrence_id]}", "data-action": "identified", autocomplete:"off"}
                  %img{src:"/images/microscope-unselected.png", alt:"Identified", title:"Identified", width:18}
              %label{class:"btn  btn-choice btn-light #{active_class(o[:action], "recorded,identified")}"}
                %input{type:"radio", class:"action-radio", name:"selection-#{o[:user_occurrence_id]}", "data-occurrence-id":"#{o[:user_occurrence_id]}", "data-action": "recorded,identified", autocomplete:"off"} Both
          %td
            - scientific_name = o[:scientificName].nil? ? "not recorded" : o[:scientificName]
            %a{href: "https://www.gbif.org/occurrence/#{o[:gbifID]}", target: "_blank" } #{scientific_name}
          %td #{o[:recordedBy]}
          %td #{o[:identifiedBy]}
          %td #{o[:eventDate]}
          %td #{o[:dateIdentified]}
          %td #{o[:institutionCode]}
          %td #{o[:catalogNumber]}
          %td #{o[:typeStatus]}
          %td
            - if o[:claimant].is_public?
              %a{href: "/#{o[:claimant].orcid}"} #{o[:claimant].fullname_reverse}
            - else
              %a{href: "https://orcid.org/#{o[:claimant].orcid}"} #{o[:claimant].fullname_reverse}

    - if @total >= 25
      %tfoot{class: "thead-light"}
        %tr
          %th{scope: "col"}
            %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
              %label{class:"btn btn-choice btn-dark"}
                %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "recorded", autocomplete:"off"}
                  %img{src:"/images/net.png", alt:"Collected All", title:"Collected All", width:18}
              %label{class:"btn  btn-choice btn-dark"}
                %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "identified", autocomplete:"off"}
                  %img{src:"/images/microscope.png", alt:"Identified All", title: "Identified All",width:18}
              %label{class:"btn  btn-choice btn-dark"}
                %input{type:"radio", class:"action-radio", name:"selection-all", "data-action": "recorded,identified", autocomplete:"off"} Both
            %div.bulk-label Bulk Reassignment
          %th{scope: "col"} Scientific Name
          %th{scope: "col"} Collected By
          %th{scope: "col"} Identified By
          %th{scope: "col"} Date Collected
          %th{scope: "col"} Date Identified
          %th{scope: "col"} Institution
          %th{scope: "col"} Catalog Number
          %th{scope: "col"} Type Status
          %th{scope: "col"} Helper

  - if @total >= 25
    %div{class: "btn-group", style:"margin-bottom:3px"}
      %button{class:"btn btn-light btn-sm dropdown-toggle", type:"button", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false"} Per page
      %div{class:"dropdown-menu", "aria-labelledby":"dropdownMenuButton"}
        %a{href: "?page=#{@page}&per=25", class: "dropdown-item"} 25
        %a{href: "?page=#{@page}&per=100", class: "dropdown-item"} 100
        %a{href: "?page=#{@page}&per=250", class: "dropdown-item"} 250

  = will_paginate @results, { class: "pagination" }

