-content_for :title do
  Bloodhound::Candidate Specimens

-content_for :stylesheets do
  %link{href: "/css/typeahead.css", rel: "stylesheet", type: "text/css"}

-content_for :scripts do
  %script{src: "/js/typeahead.bundle.min.js"}
  %script{src: "/js/candidates.js"}
  :javascript
    $(function() {
      Candidates.init();
    });

%div{class:"container-fluid"}
  %div{class:"row"}
    %div{class:"col title-col"}
      %h2{class:"display-4 text-left"} Your Candidate Specimens
    %div{class:"col"}
      %form{id:"#form-wrapper", method: "get", action: "/", "accept-charset" => "UTF-8"}
        %div{class: "inputs search-agent float-right"}
          %label{for: "typeahead"}= "Search"
          %input.typeahead{id: "typeahead", type: :text, name: "q", placeholder: "Mary Smith", value: "#{params[:q]}", size: 30}

- if @results.empty?
  %div{class: "alert alert-warning", role:"alert"}
    Bloodhound could not sniff any relevant specimens collected or identified by you and indexed by the 
    %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility
    (GBIF). Have you made your name public in your ORCID account?
- else
  %div{class: "alert alert-info", role: "alert"}
    Bloodhound sniffed #{number_with_delimiter(@total, delimeter: ",")} specimens indexed by the 
    %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility
    you may have collected or identified. They are presented from greatest to least likely.

  %table{class:"table table-hover"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
            %label{class:"btn btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o.id}.join(",")}", "data-option": "recorded", autocomplete:"off"}
                %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected All", width:18}
            %label{class:"btn  btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o.id}.join(",")}", "data-option": "identified", autocomplete:"off"}
                %img{src:"/images/microscope-unselected.png", alt:"Identified All", title: "Identified",width:18}
            %label{class:"btn  btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o.id}.join(",")}", "data-option": "both", autocomplete:"off"} Both
        %th{scope: "col"} Scientific Name
        %th{scope: "col"} Collectors
        %th{scope: "col"} Determiners
        %th{scope: "col"} Date Collected
        %th{scope: "col"} Date Identified
        %th{scope: "col"} Institution
        %th{scope: "col"} Catalog Number
        %th{scope: "col"} Type Status

    %tbody
      - @results.each do |o|
        %tr
          %td
            %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
              %label{class:"btn btn-choice btn-light"}
                %input{type:"radio", name:"selection-#{o.id}", "data-id":"#{o.id}", "data-option": "recorded", autocomplete:"off"}
                  %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
              %label{class:"btn  btn-choice btn-light"}
                %input{type:"radio", name:"selection-#{o.id}", "data-id":"#{o.id}", "data-option": "identified", autocomplete:"off"}
                  %img{src:"/images/microscope-unselected.png", alt:"Identified", title: "Identified",width:18}
              %label{class:"btn  btn-choice btn-light"}
                %input{type:"radio", name:"selection-#{o.id}", "data-id":"#{o.id}", "data-option": "both", autocomplete:"off"} Both
          %td
            %a{href: "https://www.gbif.org/occurrence/#{o.gbifID}", target: "_blank"} #{o.scientificName}
          %td #{o.recordedBy}
          %td #{o.identifiedBy}
          %td #{o.eventDate}
          %td #{o.dateIdentified}
          %td #{o.institutionCode}
          %td #{o.catalogNumber}
          %td #{o.typeStatus}

  = will_paginate @results, { class: "pagination" }