-content_for :title do
  For Developers

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} For Developers

%h3 User Search

%p
  Search for users is exposed as JSON-LD documents with elements from
  %a{href: "https://schema.org/"}
    https://schema.org
  as type
  = succeed ", " do
    %a{href: "https://schema.org/DataFeed"} DataFeed
  OpenSearch, and
  = succeed "." do
    %a{href: "https://www.w3.org/ns/activitystreams"} W3C ActivityStreams

%dl
  %dt Base URL
  %dd{class:"pl-2"} https://api.bloodhound-tracker.net/users/search

  %dt ?q=
  %dd{class:"pl-2"} single human name (required)

  %dt &families_collected=
  %dd{class:"pl-2"} comma-separated list of taxonomic families collected (optional)

  %dt &families_identified=
  %dd{class:"pl-2"} comma-separated list of taxonomic families identified (optional)

  %dt &date=
  %dd{class:"pl-2"} a date expressed as YYYY-MM-DD, YYYY-MM, or YYYY (optional)

  %dt &page=
  %dd{class:"pl-2"} page number; there is a fixed 30 items per page (optional)

  %dt &strict=
  %dd{class:"pl-2"} boolean for MUST (=true) vs SHOULD (=false) on families_identified, families_collected, and date when any are present (optional)

  %dt{class:"mt-3"} Example
  %dd{class:"pl-2"}
    %a{href: "https://api.bloodhound-tracker.net/users/search?q=smith&families_collected=scarabaeidae&strict=true"}
      https://api.bloodhound-tracker.net/users/search?q=smith&families_collected=scarabaeidae&strict=true
  %dt Response
  %dd
    %pre{class:"pre-scrollable bg-dark text-white border rounded p-3"}
      %code
        :preserve
          {
            <span class="token property">"@context"</span>: {
              <span class="token property">"@vocab"</span>: <span class="token string">"http://schema.org"</span>,
              <span class="token property">"opensearch"</span>: <span class="token string">"http://a9.com/-/spec/opensearch/1.1/"</span>,
              <span class="token property">"as"</span>: <span class="token string">"https://www.w3.org/ns/activitystreams#"</span>
            },
            <span class="token property">"@type"</span>: <span class="token string">"DataFeed"</span>,
            <span class="token property">"opensearch:totalResults"</span>: <span class="token number">1</span>,
            <span class="token property">"opensearch:itemsPerPage"</span>: <span class="token number">1</span>,
            <span class="token property">"as:first"</span>: <span class="token string">"https://api.bloodhound-tracker.net/users/search?q=smith&families_collected=curculionidae&strict=true&page=1"</span>,
            <span class="token property">"as:prev"</span>: <span class="token symbol">null</span>,
            <span class="token property">"as:current"</span>: <span class="token string">"https://api.bloodhound-tracker.net/users/search?q=smith&families_collected=curculionidae&strict=true"</span>,
            <span class="token property">"as:next"</span>: <span class="token symbol">null</span>,
            <span class="token property">"as:last"</span>: <span class="token string">"https://api.bloodhound-tracker.net/users/search?q=smith&families_collected=curculionidae&strict=true&page=1"</span>,
            <span class="token property">"name"</span>: <span class="token string">"Bloodhound user search results"</span>,
            <span class="token property">"description"</span>: <span class="token string">"Bloodhound user search results expressed as a schema.org JSON-LD DataFeed.
              q={name} is a search by human name;
              families_identified={families_identified} is a comma-separated list of taxonomic families identified;
              families_collected={families_collected} is a comma-separated list of taxonomic families collected;
              date={date} is a date in the form YYYY, YYYY-MM, or YYYY-MM-DD and is compared to birth and death dates;
              page={page} is the page number and there is a fixed 30 items per page;
              strict={true|false} is a boolean for MUST vs SHOULD on families_identified, families_collected, and date"</span>,
            <span class="token property">"license"</span>: <span class="token string">"https://creativecommons.org/publicdomain/zero/1.0/"</span>,
            <span class="token property">"potentialAction"</span>: {
              <span class="token property">"@type"</span>: <span class="token string">"SearchAction"</span>,
              <span class="token property">"target"</span>: <span class="token string">"https://api.bloodhound-tracker.net/users/search?q={name}&families_identified={families_identified}&families_collected={families_collected}&date={date}&page={page}&strict={true|false}"</span>
            },
            <span class="token property">"dataFeedElement"</span>: [
              {
                <span class="token property">"@type"</span>: <span class="token string">"DataFeedItem"</span>,
                <span class="token property">"item"</span>: {
                  <span class="token property">"@type"</span>: <span class="token string">"Person"</span>,
                  <span class="token property">"@id"</span>: <span class="token string">"https://bloodhound-tracker.net/0000-0002-8059-5133"</span>,
                  <span class="token property">"name"</span>: <span class="token string">"Andrew B.T. Smith"</span>,
                  <span class="token property">"givenName"</span>: <span class="token string">"Andrew B.T."</span>,
                  <span class="token property">"familyName"</span>: <span class="token string">"Smith"</span>,
                  <span class="token property">"alternateName"</span>: [
                    <span class="token string">"Smith, Andrew B.T."</span>
                  ],
                  <span class="token property">"knowsAbout"</span>: [
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"ItemList"</span>,
                      <span class="token property">"name"</span>: <span class="token string">"families_identified"</span>,
                      <span class="token property">"itemListElement"</span>: [
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Carabidae"</span>
                        }
                      ]
                    },
                    {
                      <span class="token property">"@type"</span>: <span class="token string">"ItemList"</span>,
                      <span class="token property">"name"</span>: <span class="token string">"families_collected"</span>,
                      <span class="token property">"itemListElement"</span>: [
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Scarabaeidae"</span>
                        },
                        {
                          <span class="token property">"@type"</span>: <span class="token string">"ListItem"</span>,
                          <span class="token property">"name"</span>: <span class="token string">"Curculionidae"</span>
                        },
                        ...
                      ]
                    }
                  ],
                  <span class="token property">"sameAs"</span>: <span class="token string">"https://orcid.org/0000-0002-8059-5133"</span>
                }
              }
            ]
          }

%h3 User Data

%p
  Bloodhound data are exposed as csv or
  %a{href: "https://json-ld.org/"}
    JSON-LD
  documents on publicly shared profile pages. Individual occurrence records are exposed as JSON-LD documents. Attributions and claims are shared as
  %a{href: "https://frictionlessdata.io/"}
    frictionless data
  packages for every dataset.

%div{class:"ml-3"}
  %h5 User Data from a Public Profile
  %div
    %a{href: "/0000-0001-7618-5230/specimens.csv"} #{base_url}/0000-0001-7618-5230/specimens.csv
  %div
    %a{href: "/0000-0001-7618-5230/specimens.json"} #{base_url}/0000-0001-7618-5230/specimens.json
  %p
    %small{class:"text-muted"}
      Where
      %em 0000-0001-7618-5230
      is a user's ORCID identifier,
      %a{href: "https://orcid.org/0000-0001-7618-5230"} https://orcid.org/0000-0001-7618-5230

  %div
    %a{href: "/Q1035/specimens.csv"} #{base_url}/Q1035/specimens.csv
  %div
    %a{href: "/Q1035/specimens.json"} #{base_url}/Q1035/specimens.json
  %p
    %small{class:"text-muted"}
      Where
      %em Q1035
      is a user's Wikidata Q number,
      %a{href: "https://www.wikidata.org/wiki/Q1035"} https://www.wikidata.org/wiki/Q1035

%div{class:"ml-3"}
  %h5 Specimen Record
  %div
    %a{href: "/occurrence/477976412.json"} #{base_url}/occurrence/477976412.json
  %p
    %small{class:"text-muted"}
      Where
      %em /occurrence/477976412
      is that provided by the Global Biodiversity Information Facility (GBIF),
      %a{href: "https://gbif.org/occurrence/477976412"} https://gbif.org/occurrence/477976412.
      This same service is used in two
      %a{href:"/integrations"} browser extensions.

%h3 Dataset Data

%p Claims and attributions are available as Frictionless Data Packages for each dataset.

%div{class:"ml-3"}
  %div
    %a{href: "/dataset/74f92761-3a24-4d85-9bfb-00b1fee0119d.zip"} #{base_url}/dataset/74f92761-3a24-4d85-9bfb-00b1fee0119d.zip
  %p
    %small{class:"text-muted"}
      Where
      %em 74f92761-3a24-4d85-9bfb-00b1fee0119d
      is a GBIF dataset identifier,
      %a{href: "https://gbif.org/dataset/74f92761-3a24-4d85-9bfb-00b1fee0119d"} https://gbif.org/dataset/74f92761-3a24-4d85-9bfb-00b1fee0119d

%h3 Raw Data

%div{class:"ml-3"}
  %h5 List of Public Profiles
  %div
    %a{href: "/data/bloodhound-public-profiles.csv"} bloodhound-public-profiles.csv
  %p
    %smal{class:"text-muted"}
      Where the above csv includes a header, "Family, Given, wikidata, ORCID, URL"

- if @compressed_file_size
  %div{class:"ml-3"}
    %h5 All Claims and Attributions (Public Profiles)
    %div
      Daily build,
      %a{href: "/data/bloodhound-public-claims.csv.gz"} bloodhound-public-claims.csv.gz
      (#{@compressed_file_size} MB, utf-8)
    %p
      %small{class:"text-muted"}
        Where the above gzipped csv includes a header, "Subject, Predicate, Object" and rows are expressed as, "https://gbif.org/occurrence/1801358422, http://rs.tdwg.org/dwc/iri/identifiedBy, https://orcid.org/0000-0001-9008-0611"

%div{class:"ml-3"}
  %h5 Agent Summaries
  %div
    %a{href:"https://github.com/dshorthouse/bloodhound/blob/5947072a42ace5c8aa686f688144541a416fe830/data/bloodhound-agent-counts.gz?raw=true"} bloodhound-agents-counts.gz
    (38 MB, utf-8)
  %p
    %small{class:"text-muted"}
      The above gzipped folder includes 4 csv files each with a header, "agent_id, family, given, recordings_count, recordings_year_range, recordings_institutionCode, recordings_countryCode, determinations_count", produced using
      %a{href:"https://doi.org/10.15468/dl.ejwnnv"} https://doi.org/10.15468/dl.ejwnnv
      where "recordings_count" is the total number of collected specimens, "recordings_institutionCode" is a pipe-delimited list of institutionCode entries, and "recordings_countryCode" is a pipe-delimited list of ISO Alpha-2 country codes. The column "agent_id" is a local identifier and is not persistent.

%div{class:"ml-3"}
  %h5 Unverified, Unauthenticated Agents
  %div
    %a{href: "https://github.com/dshorthouse/bloodhound/blob/d6605b8b3771a42bc62e613fc6622af0bd5cb278/public/data/bloodhound-agents.gz?raw=true"} bloodhound-agents.gz
    (474 MB, utf-8)
  %p
    %small{class:"text-muted"}
      The above gzipped csv includes a header, "agents, gbifIDs_recordedBy, gbifIDs_identifiedBy", was constructed from
      %a{href: "https://doi.org/10.15468/dl.rohj3n"} https://doi.org/10.15468/dl.rohj3n
      using a
      %a{href: "https://github.com/dshorthouse/bloodhound/blob/master/spark.md"} Scala / Apache Spark script
      where the gbifIDs_recordedBy and gbifIDs_identifiedBy columns each contain an array of GBIF IDs. The "agents" column is as presented on GBIF and will require additional parsing.

%h3 Code
%p
  The MIT-licensed code is available on
  = succeed "." do
    %a{href: "https://github.com/dshorthouse/bloodhound" } GitHub
  Technologies at play include Apache Spark to group occurrence records by raw entries in recordedBy and identifiedBy and to import into MySQL, Neo4j to store the scores between similarly structured people names, Elasticsearch to aid in the searching of people names once parsed and cleaned, Redis to coordinate the processing queues, and Sinatra/ruby for the application layer. A stand-alone ruby gem,
  %a{href:"https://github.com/dshorthouse/dwc_agent"} dwc_agent
  may be used to parse people names and additionally score them for structural similarity.
