-content_for :title do
  Bloodhound

-content_for :jumbotron do
  %div{class: "jumbotron"}
    %div{class: "container-fluid"}
      %h1{class: "display-3"} Bloodhound
      %p.lead Claim the natural history specimens you collected or identified
      %p{id: "profile-buttons"}
        - if !authorized?
          %a{ href:"/auth/orcid", id: "connect-orcid-button", role: "button", class: "btn btn-outline-success" }
            %img{ alt: "ORCID logo", height:24, width:24, id:"orcid-id-logo", src:"/images/orcid_24x24.png"}
            Log in with your ORCID Account
        - else
          %a{ href:"/profile/candidates", id: "candidates-button", role: "button", class: "btn btn-success" } Claim Your Specimens
          %a{ href:"/help-users", role: "button", class:"btn btn-success" } Help Other Users

- if !@results.empty?
  %h2{class: "text-center"} Sample Profiles

  %div{class:"container"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.orcid) do
              - if u.top_family_identified
                - id_statement = "has identified #{u.top_family_identified}"
              - if u.top_family_recorded
                - recorded_statement = "has collected #{u.top_family_recorded}"
              - statement = nil
              - if u.top_family_identified || u.top_family_recorded
                - statement = "#{u.given} " + [id_statement,recorded_statement].compact.join(" and ")
              %div{class: "card", style:"margin:20px"}
                %h5{class: "card-header"}
                  %a{href: "/#{u.orcid}"} #{u.fullname_reverse}
                %div{class: "card-body"}
                  %div{class: "row"}
                    %div{class: "col-sm small text-left text-muted"} #{u.country}
                    %div{class: "col-sm small text-right text-muted"}
                      %span{class:"badge badge-success"} #{number_with_delimiter(u.all_occurrences_count)}
                      specimens
                  %p{class:"card-text",style:"margin-top:5px;"} #{statement}