!!! 5
%html
  %head
    %meta{charset: "UTF-8" }/
    %title
      = yield_content :title
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css', integrity: 'sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin: 'anonymous' }
    %link{href: '/css/jumbotron.css', rel: 'stylesheet', type: 'text/css' }
    = yield_content :stylesheets
    %script{src: '/js/bootstrap.min.js', integrity: 'sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin: 'anonymous' }
    %script{src:"/js/jquery-3.3.1.min.js"}
    %script{src:"/js/popper.min.js", integrity:"sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin:"anonymous"}
    = yield_content :scripts
  %body
    %nav{class:"navbar navbar-expand-md navbar-dark bg-dark"}
      %a{class:"navbar-brand", href:"/"}
        %img{src: "/images/logo.png", height:48}
      %button{class:"navbar-toggler", type:"button", "data-toggle":"collapse", "data-target":"#navbarSupportedContent", "aria-controls":"navbarSupportedContent", "aria-expanded":"false", "aria-label":"Toggle navigation"}
        %span{class:"navbar-toggler-icon"}
      %div{class: "collapse navbar-collapse", id:"navbarSupportedContent"}
        %ul{class: "navbar-nav mr-auto"}
          %li{class: "nav-item"}
            %a{ href: "/", class:"nav-link" } Home
          %li{class: "nav-item"}
            %a{ href: '/about', class: "nav-link" } About
        %ul{class: "navbar-nav flex-row ml-md-auto d-none d-md-flex"}
          - if authorized?
            %li{class: "nav-item"}
              %a{ href: "/profile", id: "linked-button", role: "button", class: "btn btn-success" } #{@user[:given]} #{@user[:family]}
            %li{class: "nav-item"}
              %a{ href: "/logout", class: "nav-link" } Logout

    = yield_content :jumbotron

    %main{role: "main", id:"main"}
      %div{class: "container-fluid"}
        = yield