!!! 5
%html{lang: "en", prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: "UTF-8" }/
    %meta{name:"description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{name:"keywords", content:"credit,specimens,natural,history,atrribution,orcid,gbif"}/
    %meta{name:"author", content:"David P. Shorthouse"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}/
    %meta{name:"twitter:card", content:"summary"}/
    %meta{name:"twitter:site" ,content:"@BloodhoundTrack"}/
    %meta{name:"twitter:description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{name:"twitter:creator", content:"@BloodhoundTrack"}/
    %meta{name:"twitter:image", content:"#{base_url}/images/screenshot.png"}/
    %meta{property:"og:title", content:"#{yield_content(:title)}"}/
    %meta{property:"og:description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{property:"og:locale", content:"en_US"}/
    %meta{property:"og:type", content:"website"}/
    %meta{property:"og:url", content:"#{base_url}"}/
    %meta{property:"og:image", content:"#{base_url}/images/screenshot.png"}/

    %title
      = yield_content :title

    %link{href: "/favicon.ico", rel:"shortcut icon", type:"image/x-icon"}
    %link{href: "/favicon.ico", rel:"icon", type:"image/x-icon"}
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet", type: "text/css", crossorigin: "anonymous"}
    %link{href: "/css/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/bootstrap-toggle.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/typeahead.css", rel: "stylesheet", type: "text/css"}
    %link{rel:"stylesheet", href:"https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity:"sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin:"anonymous"}
    = yield_content :stylesheets

    %script{src: "/js/jquery-3.3.1.min.js"}
    %script{src: "/js/popper.min.js", crossorigin:"anonymous"}
    %script{src: "/js/bootstrap.min.js", crossorigin: "anonymous"}
    %script{src: "/js/bootstrap-toggle.min.js"}
    %script{src: "/js/typeahead.bundle.min.js"}
    = yield_content :scripts

  %body{class:"d-flex flex-column"}
    %header
      %nav{class:"navbar navbar-expand-md navbar-dark bg-dark"}
        %a{class:"navbar-brand", href:"/"}
          %img{src: "/images/logo.png", height:48, alt: "Bloodhound"}
        %button{class:"navbar-toggler", type:"button", "data-toggle":"collapse", "data-target":"#navbarSupportedContent", "aria-controls":"navbarSupportedContent", "aria-expanded":"false", "aria-label":"Toggle navigation"}
          %span{class:"navbar-toggler-icon"}
        %div{class: "collapse navbar-collapse", id:"navbarSupportedContent"}
          %ul{class: "navbar-nav mr-auto"}
            %li{class: "nav-item"}
              %a{ href: "/", class:"nav-link#{locals[:active_page] == "home" ? " active" : nil}" } Home
            - if admin_authorized?
              %li{class: "nav-item"}
                %a{ href: "/admin", class:"nav-link#{locals[:active_page] == "administration" ? " active" : nil}" } Administration
            %li{class: "nav-item"}
              %a{ href: "/roster", class:"nav-link#{locals[:active_page] == "roster" ? " active" : nil}" } Profiles
            %li{class: "nav-item"}
              %a{ href: "/organizations", class:"nav-link#{locals[:active_page] == "organizations" ? " active" : nil}" } Organizations
            %li{class: "nav-item"}
              %a{ href: "/countries", class:"nav-link#{locals[:active_page] == "countries" ? " active" : nil}" } Countries
            %li{class: "nav-item"}
              %a{ href: '/agents', class: "nav-link#{locals[:active_page] == "agents" ? " active" : nil}" } Agents
          %ul{class: "navbar-nav"}
            - if authorized?
              %li{class: "nav-item"}
                %a{ href: "/help-others", class: "nav-link#{locals[:active_page] == "help" ? " active" : nil}"} Help Others
              %li{class: "nav-item"}
                %a{ href: "/profile", id: "linked-button", role: "button", class: "btn btn-outline-light" }= @user.fullname
              %li{class: "nav-item"}
                %a{ href: "/logout", class: "nav-link" } Logout
            - else
              %li
                %a{ href:"/auth/orcid", role: "button", class: "btn btn-outline-light connect-orcid-button" }
                  %img{ alt: "ORCID logo", height:24, width:24, class:"orcid-id-logo", src:"/images/orcid_24x24.png"}
                  Log in with ORCID

      = yield_content :jumbotron

    %main{id:"main", role:"main", class:"mb-5"}
      %div{class: "container-fluid"}
        = yield

    %footer{class: "footer mt-auto py-3 border-top d-flex justify-content-end"}
      %div{class:"px-2 px-sm-3 px-md-5"}
        %h5 Resources
        %ul{class: "list-unstyled text-small"}
          %li
            %a{href: "/integrations", class: "text-muted"} Integrations
          %li
            %a{href: "/developers", class: "text-muted"} For Developers
      %div{class: "px-2 px-sm-3 px-md-5"}
        %h5 About
        %ul{class: "list-unstyled text-small"}
          %li
            %a{href: "/about", class: "text-muted"} Rationale
          %li
            %a{href: "/how-it-works", class: "text-muted"} How it Works
          %li
            %a{href: "https://github.com/dshorthouse/bloodhound/issues", class: "text-muted"} Feedback
      %div{class:"pr-2 pr-md-3"}
        %a{href: "https://twitter.com/BloodhoundTrack"}
          %img{src:"/images/twitter-icon.png", alt:"Bloodhound on Twitter"}