-content_for :title do
  Bloodhound::#{user_text}

-content_for :scripts do
  %script{src:"/js/profile.js"}
  :javascript
    $(function() {
        Profile.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %div{class:"row"}
        %div{class:"col title-col"}
          %h2{class:"display-4 text-left"}= user_text
          %p.orcid
            %a{href: "https://orcid.org/#{@user[:orcid]}"}
              %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
            %a{href: "https://orcid.org/#{@user[:orcid]}"} http://orcid.org/#{@user[:orcid]}

        %div{class:"col alt-name-wrapper"}
          - if @user[:other_names].size > 0
            %dl.row
              %dt.col-sm-4 Alternate Name(s)
              %dd.col-sm-8
                - @user[:other_names].each do |alt|
                  %span{itemprop: "alternateName", class:"alt-name"} #{alt}

%p
  %a{ href:"/candidates", id: "candidates-button", role: "button", class: "btn btn-success" }
    - if !@results.empty?
      Claim More Specimens
    - else
      Claim Specimens


- if authorized? && !@results.empty?
  %table{class:"table table-hover"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"}
          %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
            %label{class:"btn btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o[:user_occurrence_id]}.join(",")}", "data-action": "recorded", autocomplete:"off"}
                %img{src:"/images/net-unselected.png", alt:"Collected All", title:"Collected All", width:18}
            %label{class:"btn  btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o[:user_occurrence_id]}.join(",")}", "data-action": "identified", autocomplete:"off"}
                %img{src:"/images/microscope-unselected.png", alt:"Identified All", title: "Identified All",width:18}
            %label{class:"btn  btn-choice btn-light"}
              %input{type:"radio", name:"selection-all", "data-id":"#{@results.map{|o| o[:user_occurrence_id]}.join(",")}", "data-action": "both", autocomplete:"off"} Both
        %th{scope: "col"} Scientific Name
        %th{scope: "col"} Collected By
        %th{scope: "col"} Identified By
        %th{scope: "col"} Date Collected
        %th{scope: "col"} Date Identified
        %th{scope: "col"} Institution
        %th{scope: "col"} Catalog Number
        %th{scope: "col"} Type Status
        %th{scope: "col"} Last Checked
        %th{scope: "col"}

    %tbody
      - @results.each do |o|
        %tr
          %td
            %div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
              %label{class:"btn btn-choice btn-light #{active_class(o[:action], "recorded")}"}
                %input{type:"radio", name:"selection-#{o[:user_occurrence_id]}", "data-id":"#{o[:user_occurrence_id]}", "data-action": "recorded", autocomplete:"off"}
                  %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
              %label{class:"btn  btn-choice btn-light #{active_class(o[:action], "identified")}"}
                %input{type:"radio", name:"selection-#{o[:user_occurrence_id]}", "data-id":"#{o[:user_occurrence_id]}", "data-action": "identified", autocomplete:"off"}
                  %img{src:"/images/microscope-unselected.png", alt:"Identified", title:"Identified", width:18}
              %label{class:"btn  btn-choice btn-light #{active_class(o[:action], "both")}"}
                %input{type:"radio", name:"selection-#{o[:user_occurrence_id]}", "data-id":"#{o[:user_occurrence_id]}", "data-action": "both", autocomplete:"off"} Both
          %td
            %a{href: "https://www.gbif.org/occurrence/#{o[:gbifID]}" } #{o[:scientificName]}
          %td #{o[:recordedBy]}
          %td #{o[:identifiedBy]}
          %td #{o[:eventDate]}
          %td #{o[:dateIdentified]}
          %td #{o[:institutionCode]}
          %td #{o[:catalogNumber]}
          %td #{o[:typeStatus]}
          - last_checked = o[:lastChecked].nil? ? "Coming..." : o[:lastChecked]
          %td #{last_checked}
          %td
            %button{type:"button", class:"btn btn-danger remove", "data-id":"#{o[:user_occurrence_id]}"} Remove

  = will_paginate @results, { class: "pagination" }
