-content_for :title do
  Bloodhound: Profile

-content_for :stylesheets do
  %link{href: "/css/bootstrap-toggle.min.css", rel: "stylesheet", type: "text/css"}
  %link{href: "/css/typeahead.css", rel: "stylesheet", type: "text/css"}

-content_for :scripts do
  %script{src:"/js/bootstrap-toggle.min.js"}

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}

      %h2{class:"display-4 text-center"}= @user[:fullname]

      %div{class: "row justify-content-center text-center"}
        %div{class: "col-xl-6"}
          %div.row
            - if !@user[:other_names].blank?
              %dl{class: "col"}
                %dt Also known as
                %dd #{@user[:other_names].split("|").join("; ")}
            - if !@user[:country].blank?
              %dl{class: "col"}
                %dt Country
                %dd #{@user[:country]}
          %div.row
            %div{class: "col orcid text-center"}
              %a{href: "https://orcid.org/#{@user[:orcid]}"}
                %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
              %a{href: "https://orcid.org/#{@user[:orcid]}"} http://orcid.org/#{@user[:orcid]}

              %div{class: "orcid-refresh text-center"}
                %a{href: "/refresh-orcid.json?user_id=#{@user[:id]}"}
                  %img{src: "/images/orcid_refresh_24x24.png", alt:"Refresh ORCID iD Content"}
                %a{href: "/refresh-orcid.json?user_id=#{@user[:id]}"} Refresh ORCID Data

            %div{class: "col text-center"}
              %input{type:"checkbox", id: "toggle-public", "data-toggle":"toggle", "data-on":"Public", "data-off":"Private", "data-onstyle": "success", checked: is_public?, class:"btn-claim" }

          %div{class:"alert row alert-success alert-dismissible fade show", role: "alert"}
            ORCID Data was refreshed.
            %button{type:"button", class:"close", "data-dismiss":"alert", "aria-label":"Close"}
              %span{"aria-hidden":"true"} &times;

%ul{class: "nav nav-tabs"}
  %li{class: "nav-item"}
    %a{class: "nav-link active", href: "/profile"} Overview
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/profile/specimens"} Your Claimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/profile/candidates"} Your Unclaimed Specimens
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/profile/support"} Help Received

%div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
  = succeed "." do
    Collected #{number_with_delimiter(@total[:number_recorded])} and identified #{number_with_delimiter(@total[:number_identified])} specimens
    - if @total[:number_helped] > 0
      and helped #{number_with_delimiter(@total[:number_helped])} #{'user'.pluralize(@total[:number_helped])} claim a total of #{number_with_delimiter(@total[:number_claims_given])} #{'specimen'.pluralize(@total[:number_claims_given])}