-content_for :title do
  Bloodhound :: Roster

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %h2 Roster of Public Profiles

%div{class: "container-fluid"}
  %table{class:"table table-hover"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col"} Users
        %th{scope: "col"} Country
        %th{scope: "col"} Total Specimens
        %th{scope: "col"} ORCID

    %tbody
      - @results.each do |o|
        %tr
          %td 
            %a{href: "/#{o.orcid}"} #{o.fullname_reverse}
          %td #{o.country}
          %td #{o.identified_or_recorded_count}
          %td
            %a{href: "https://orcid.org/#{o.orcid}"}
              %img{src: "/images/orcid_16x16.png", alt:"ORCID iD"}
            %a{href: "https://orcid.org/#{o.orcid}"} http://orcid.org/#{o.orcid}

  = will_paginate @results, { class: "pagination" }