-content_for :title do
  Trainers

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 Trainers
      %p.lead.text-muted
        Users who have helped their peers, mentors, and role models claim specimens

%div{class:"container-fluid"}
  - if authorized?
    %p
      %a{ href:"/help-others", role:"button", class:"btn btn-lg btn-outline-success" } Help Others
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.identifier + "-trainer") do
              %div{class: "card my-3"}
                %div{class: "card-header"}
                  %h5
                    %a{href: "/#{u.identifier}"} #{u.fullname_reverse}
                %div{class: "card-body"}
                  - if u.country
                    %p{class:"small text-muted mt-0 mb-0"} #{u.country.split("|").join("; ")}
                  %div{class: "d-flex mt-4"}
                    %div{class: "small text-muted"}
                      Helped
                      %span{class:"badge badge-light"} #{number_with_delimiter(u.helped_count)}
                      #{'person'.pluralize(u.helped_count)} claim
                      %span{class:"badge badge-success"} #{number_with_delimiter(u.claims_given.count)}
                      #{'specimen'.pluralize(u.claims_given.count)}
  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1