-content_for :title do
  Bloodhound :: #{@viewed_user.fullname}

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %div{class:"row"}
        %div{class:"col title-col"}
          %h2{class:"display-4 text-left"}= @viewed_user.fullname

        %div{class:"col alt-name-wrapper"}
          - if !@viewed_user[:other_names].blank?
            %dl.row
              %dt.col-sm-4 Alternate Name(s)
              %dd.col-sm-8
                - @viewed_user[:other_names].split("|").each do |alt|
                  %span{class:"alt-name"} #{alt}

      %p.orcid
        %a{href: "https://orcid.org/#{@viewed_user[:orcid]}"}
          %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
        %a{href: "https://orcid.org/#{@viewed_user[:orcid]}"} http://orcid.org/#{@viewed_user[:orcid]}
      %p.lead Collected #{@total[:recorded]} and identified #{@total[:identified]} specimens

%ul{class: "nav nav-tabs"}
  %li{class: "nav-item"}
    %a{class: "nav-link active", href: "/#{@viewed_user[:orcid]}"} Overview
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/#{@viewed_user[:orcid]}/specimens"} Specimens

- if !@families_identified.empty? || !@families_recorded.empty?

  %div{class: "container-fluid"}
    %div{class: "row"}
      %div{class: "col"}
        - if @families_recorded.empty? && !@families_identified.empty?
          %h3 Families Identified
          %ul{class: "list-group"}
            - @families_identified.each do |k,v|
              %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                #{k}
                %span{class: "badge badge-success badge-pill"} #{v}
        - elsif !@families_recorded.empty?
          %h3 Families Collected
          %ul{class: "list-group"}
            - @families_recorded.each do |k,v|
              %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                #{k}
                %span{class: "badge badge-success badge-pill"} #{v}
      %div{class: "col"}
        - if !@families_recorded.empty? && !@families_identified.empty?
          %h3 Families Identified
          %ul{class: "list-group"}
            - @families_identified.each do |k,v|
              %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                #{k}
                %span{class: "badge badge-success badge-pill"} #{v}
