-content_for :title do
  Bloodhound :: #{@viewed_user.fullname}

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %div{class:"row"}
        %div{class:"col title-col"}
          %h2{class:"display-4 text-left"}= @viewed_user.fullname

        %div{class:"col alt-name-wrapper"}
          - if !@viewed_user[:other_names].blank?
            %dl.row
              %dt.col-sm-4 Alternate Name(s)
              %dd.col-sm-8
                - @viewed_user[:other_names].split("|").each do |alt|
                  %span{class:"alt-name"} #{alt}

      %p.orcid
        %a{href: "https://orcid.org/#{@viewed_user[:orcid]}"}
          %img{src: "/images/orcid_24x24.png", alt:"ORCID iD"}
        %a{href: "https://orcid.org/#{@viewed_user[:orcid]}"} http://orcid.org/#{@viewed_user[:orcid]}
      %p.lead Collected #{@total[:recorded]} and identified #{@total[:identified]} specimens

%ul{class: "nav nav-tabs"}
  %li{class: "nav-item"}
    %a{class: "nav-link", href: "/#{@viewed_user[:orcid]}"} Overview
  %li{class: "nav-item"}
    %a{class: "nav-link active", href: "/#{@viewed_user[:orcid]}/specimens"} Specimens

- if !@results.empty?
  %div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    %div{class: "col"}
      %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18} 
      collected
      %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
      identified
    %div{class: "col text-right"}
      %a{href: "/#{@viewed_user[:orcid]}/specimens.csv"}
        %img{src: "/images/csv-icon.png", width:24, alt: "CSV download"}
      %a{href: "/#{@viewed_user[:orcid]}/specimens.json"}
        %img{src: "/images/json-icon.png", width:24, alt: "JSON download"}
    
  %table{class:"table table-hover"}
    %thead{class: "thead-light"}
      %tr
        %th{scope: "col", style:"min-width:65px"}
        %th{scope: "col"} Scientific Name
        %th{scope: "col"} Collected By
        %th{scope: "col"} Identified By
        %th{scope: "col"} Date Collected
        %th{scope: "col"} Date Identified
        %th{scope: "col"} Institution
        %th{scope: "col"} Catalog Number
        %th{scope: "col"} Type Status

    %tbody
      - @results.each do |uo|
        - o = uo.occurrence
        %tr
          %td
            - if uo.action == "recorded"
              %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
            - elsif uo.action == "identified"
              %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
            - else
              %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18}
              %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
          %td
            %a{href: "https://www.gbif.org/occurrence/#{o.id}" } #{o.scientificName}
          %td #{o.recordedBy}
          %td #{o.identifiedBy}
          %td #{o.eventDate}
          %td #{o.dateIdentified}
          %td #{o.institutionCode}
          %td #{o.catalogNumber}
          %td #{o.typeStatus}

  = will_paginate @results, { class: "pagination" }
