-content_for :title do
  Occurrence

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Specimen Record

%div{class:"alert alert-info tiny-margins"}
  From partial data obtained from the Global Biodiversity Information Facility (GBIF).

%div{class: "card-deck occurrence"}
  %div{class:"card mb-4"}
    %div{class:"card-header border-bottom"}
      %h5 Record
    %div{class:"card-body mt-2"}
      %dl{class:"dl-horizontal"}
        %dt gbifID
        %dd
          %a{href: "https://gbif.org/occurrence/#{@occurrence.id}", target:"_blank"}
            #{@occurrence.id}
            %i{class:"fas fa-external-link-alt"}
        %dd{class:"line-break"}

        %dt datasetKey
        %dd
          %a{href: "https://gbif.org/dataset/#{@occurrence.datasetKey}", target:"_blank"}
            #{@occurrence.datasetKey}
            %i{class:"fas fa-external-link-alt"}
        %dd{class:"line-break"}

        %dt occurrenceID
        %dd
          - if @occurrence.occurrenceID && @occurrence.occurrenceID[0..3] == "http"
            %a{href: "#{@occurrence.occurrenceID}", target:"_blank"} #{@occurrence.occurrenceID}
          - else
            #{h(@occurrence.occurrenceID)}
        %dd{class:"line-break"}

        %dt institutionCode
        %dd #{h(@occurrence.institutionCode)}
        %dd{class:"line-break"}

        %dt collectionCode
        %dd #{h(@occurrence.collectionCode)}
        %dd{class:"line-break"}

        %dt catalogNumber
        %dd #{h(@occurrence.catalogNumber)}

  %div{class:"card mb-4"}
    %div{class:"card-header border-bottom"}
      %h5 Location
    %div{class:"card-body mt-2"}
      %dl{class:"dl-horizontal"}
        %dt country
        %dd #{h(@occurrence.country)}
        %dd{class:"line-break"}

        %dt decimalLatitude
        %dd #{h(@occurrence.decimalLatitude)}
        %dd{class:"line-break"}

        %dt decimalLongitude
        %dd #{h(@occurrence.decimalLongitude)}

  %div{class:"card mb-4"}
    %div{class:"card-header border-bottom"}
      %h5 Event
    %div{class:"card-body mt-2"}
      %dl{class:"dl-horizontal"}
        %dt eventDate
        %dd #{h(@occurrence.eventDate)}
        %dd{class:"line-break"}

        %dt recordedBy
        %dd
          #{h(@occurrence.recordedBy)}
          %p
          - @occurrence.user_recordings.each do |recorder|
            %a{href: "/#{recorder.user.identifier}", role:"button", class:"btn btn-outline-secondary"}
              #{recorder.user.fullname}

  %div{class:"card mb-4"}
    %div{class:"card-header border-bottom"}
      %h5 Identification
    %div{class:"card-body mt-2"}
      %dl{class:"dl-horizontal"}
        %dt family
        %dd #{h(@occurrence.family)}
        %dd{class:"line-break"}

        %dt scientificName
        %dd #{h(@occurrence.scientificName)}
        %dd{class:"line-break"}

        %dt typeStatus
        %dd #{h(@occurrence.typeStatus)}
        %dd{class:"line-break"}

        %dt dateIdentified
        %dd #{h(@occurrence.dateIdentified)}
        %dd{class:"line-break"}

        %dt identifiedBy
        %dd
          #{h(@occurrence.identifiedBy)}
          %p
          - @occurrence.user_identifications.each do |determiner|
            %a{href: "/#{determiner.user.identifier}", role:"button", class:"btn btn-outline-secondary"}
              #{determiner.user.fullname}