-content_for :title do
  Help Users from #{@country.name}

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init();
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class: "mr-auto p-2"}
      %h2 #{@country.name}
    = haml :'partials/help_others_search', layout: false

- if @results.empty?
  %div{class: "alert alert-warning", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    No one found from
    %span{class: "font-weight-bold"} #{@country.name}

- else
  %div{class:"container-fluid"}
    - @results.in_groups_of(3).each do |group|
      %div{class: "row"}
        - group.each do |u|
          %div{class: "col-sm"}
            - if !u.nil?
              = haml :'partials/user_card_dynamic', layout: false, locals: { user: u, path: "help-others" }

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1