-content_for :title do
  Help Users

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap alert-warning-light"}
    %div{class: "mr-auto p-2"}
      %h2 Help Claim Specimens
    = haml :'partials/help_others_search', layout: false

- if @results.empty? && params[:q] && !params[:q].empty?
  %div{class: "alert alert-warning tiny-margins", role: "alert"}
    No one found by the name
    %span{class: "font-weight-bold"} #{h(params[:q])}

- if @results.empty? || params[:q].nil?
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    Is the person you're looking for not here?
    %ul
      %li
        %strong
          Living:
        Ask them to create an 
        %a{href: "https://orcid.org/register"} ORCID account
        with a publicly available name. If they assign themselves one or more of the keywords 
        %span{class: "font-italic"} #{Settings.orcid_keywords.join(", ")}
        to their ORCID account, Bloodhound will add them the following day
      %li
        %strong
          Deceased:
        Search on 
        %a{href:"https://www.wikidata.org"} Wikidata
        and ensure they have a birth and death date accurate to the day and there is a value for any of the properties:
        %span{class: "font-italic"} #{::Bloodhound::WikidataSearch::PEOPLE_PROPERTIES.keys.join(", ")}
        \. Bloodhound will also add them by the following day.

  %ul{class: "nav nav-tabs pl-2"}
    %li{class: "nav-item"}
      %a{class: "nav-link active", href: "/help-others"} Country
    %li{class: "nav-item"}
      %a{class: "nav-link", href: "/help-others/progress"} Recent Claims

  = haml :'partials/help_others_countries', layout: false

- else
  %div{class: "alert alert-info tiny-margins", role: "alert"}
    #{@pagy.count} search results for
    %span{class: "font-weight-bold"} #{h(params[:q])}

  %div{class:"container-fluid"}
    - @results.in_groups_of(3).each do |group|
      %div{class: "card-deck"}
        - group.each do |user|
          - if user.nil?
            %div{class:"card", style:"border:0px"}
          - else
            = haml :'partials/user_card_dynamic', layout: false, locals: { user: User.find(user[:_id]), path: "help-others" }

    = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1