-content_for :title do
  Help Users

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/help-others");
    });

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class: "mr-auto p-2"}
      %h2 Help Claim Specimens
    = haml :'partials/help_others_search', layout: false

- if @results.empty? && params[:q] && !params[:q].empty?
  %div{class: "alert alert-danger", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    No one found by the name
    %span{class: "font-weight-bold"}
      :escaped
        #{params[:q]}

- if @results.empty? || params[:q].nil?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Is the person you're looking for not here?
    %ul
      %li
        %strong
          Living:
        Ask them to create an 
        %a{href: "https://orcid.org/register"} ORCID account
        with a publicly available name. If they assign themselves a keyword 
        %span{class: "font-italic"} #{Sinatra::Application.settings.orcid_keywords.join(", ")}
        to their ORCID account, Bloodhound will add them the following day
      %li
        %strong
          Deceased:
        Search on 
        %a{href:"https://www.wikidata.org"} Wikidata
        and ensure they have a birth and death date accurate to the day

  = haml :'partials/help_others_countries', layout: false

- else
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    #{@pagy.count} search results for
    %span{class: "font-weight-bold"}
      :escaped
        #{params[:q]}

  %div{class:"container-fluid"}
    - @results.in_groups_of(3).each do |group|
      %div{class: "row"}
        - group.each do |user|
          %div{class: "col-sm"}
            - if !user.nil?
              = haml :'partials/user_card_dynamic', layout: false, locals: { user: User.find(user[:_id]), path: "help-others" }

    = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1