-content_for :title do
  Bloodhound: Upload #{@viewed_user.fullname}

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "POST", "/profile");
    });

-content_for :jumbotron do
  = haml :'partials/user_jumbotron', layout: false, locals: { search: true }

- if !@error.nil?
  %div{class: "alert alert-danger", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    #{@error}
    %a{href: "/help-others/#{@viewed_user.identifier}"} Try again.

- else
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    A total of 
    %span{class:"font-weight-bold"} #{number_with_delimiter(@record_count)} #{'record'.pluralize(@record_count)} 
    were handled. Existing claims, if present in your upload, were skipped.
    - if @viewed_user.is_public?
      %a{href: "/#{@viewed_user.identifier}/specimens"}
        View
      #{@viewed_user.fullname}'s specimens.
    - else
      #{@viewed_user.fullname}'s profile has not yet been made public.