-content_for :title do
  Helping #{@viewed_user.fullname}

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init(#{@viewed_user.id}, "POST", "/profile");
    });

-content_for :jumbotron do
  = haml :'partials/help_others_jumbotron', layout: false

- if @results.empty?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Did not sniff any specimens indexed by the Global Biodiversity Information Facility (GBIF) or all #{@viewed_user.fullname}'s specimens might have already been claimed.
- else
  = haml :'partials/upload_claim_modal', layout: false, locals: { csv_download_url: "/help-others/#{@viewed_user.identifier}/candidates.csv", csv_upload_url: "/help-others/#{@viewed_user.identifier}/upload-claims", user: @viewed_user}

  = haml :'partials/help_fixed_navbar', layout: false

  %div{id:"helper-info", class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Help attribute #{number_with_delimiter(@total, delimeter: ",")} specimens to
    %span{class:"font-weight-bold"} #{@viewed_user.fullname}.
    Choose
    %img{src:"/images/net-unselected.png", alt:"Collected", title:"Collected", width:18} 
    collected, 
    %img{src:"/images/microscope-unselected.png", alt:"Collected", title:"Collected", width:18}
    identified, or Both. Not all available columns are shown.
    %a{href: "#", "data-toggle":"modal", "data-target":"#modal_claims"} Work offline then upload 
    claims.

- if !@results.empty?
  %div{class:"table-responsive-lg"}
    %table{class:"table table-hover table-sm"}
      %thead{class: "thead-light"}
        %tr
          %th{scope: "col", class:"selector"}
            = haml :'partials/bulk_selector_top', layout: false
          %th{scope: "col"} Scientific Name
          %th{scope: "col"} Collected By
          %th{scope: "col"} Identified By
          %th{scope: "col"} Date Collected
          %th{scope: "col"} Date Identified
          %th{scope: "col"} Institution
          %th{scope: "col"} Catalog Number
          %th{scope: "col"} Type Status
          %th{scope: "col", class:"btn-selector-wide"}
            %button{type:"button", name:"notme-all", class:"btn btn-sm btn-warning hide-all"} Not them

      %tbody
        - @results.each do |o|
          %tr
            %td{class: "selector"}
              = haml :'partials/single_selector', layout: false, locals: { occurrence: o }
            %td
              - scientific_name = o.scientificName.nil? ? "not recorded" : o.scientificName
              %a{href: "https://www.gbif.org/occurrence/#{o.id}", target: "_blank" } #{scientific_name}
            %td #{o.recordedBy}
            %td #{o.identifiedBy}
            %td #{o.eventDate || o.year}
            %td #{o.dateIdentified}
            %td #{o.institutionCode}
            %td #{o.catalogNumber}
            %td #{o.typeStatus}
            %td
              %button{type:"button", class:"btn btn-sm btn-outline-warning hide", "data-occurrence-id":"#{o.id}"} Not them

      - if @total > 25
        %tfoot{class: "thead-light"}
          %tr
            %th{scope: "col", class:"selector"}
              = haml :'partials/bulk_selector_bottom', layout: false
            %th{scope: "col"} Scientific Name
            %th{scope: "col"} Collected By
            %th{scope: "col"} Identified By
            %th{scope: "col"} Date Collected
            %th{scope: "col"} Date Identified
            %th{scope: "col"} Institution
            %th{scope: "col"} Catalog Number
            %th{scope: "col"} Type Status
            %th{scope: "col"}
              %button{type:"button", name:"notme-all", class:"btn btn-sm btn-warning hide-all"} Not them

  - if @total > 25
    = haml :'partials/page_size', layout: false
                
  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1