- content_for(:title, "#{@viewed_user.fullname} : Bloodhound")

- content_for :jumbotron do
  = haml :'partials/user_jumbotron', layout: false

= haml :'partials/user_tabs', layout: false, locals: { active_page: 'citations' }

- if @results.empty?
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    Citations have not yet been recorded.
- else
  %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
    A total of #{number_with_delimiter(@results.total_entries)} publications made use of #{@viewed_user.fullname}'s data downloaded from the Global Biodiversity Information Facility (GBIF).

  %div{class:"container-fluid citation-wrapper"}
    %h3 Specimen Data Used in Published Research
    - @results.each do |article|
      %div{class: "card"}
        %div{class: "card-header"}
          %p{class: "citation card-title"}
            %a{href: "https://doi.org/#{article.doi}"} #{article.citation}
        %div{class: "card-body"}
          %p{class:"card-text",style:"margin-top:5px;"} #{article.abstract}
          %div{class: "small"}
            %span{class: "badge badge-success badge-pill citation-correction"} #{number_with_delimiter(article.user_specimen_count(@viewed_user.id))}
            %a{href: "/#{@viewed_user.orcid}/citation/#{article.id}"} #{'specimen'.pluralize(article.user_specimen_count(@viewed_user.id))}

  = will_paginate @results, { class: "pagination" }