- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{id:"dsq-count-scr", src:"//#{Sinatra::Application.settings.disqus_shortname}.disqus.com/count.js"}
  :javascript
    $(function() {
      DISQUSWIDGETS.getCount({reset: true});
    });

%div{class:"container-fluid"}
  %div{class:"row"}
    %div{class:"col-12 col-lg-4 text-center sidebar"}
      = haml :'partials/user_jumbotron', layout: false
    %div{class:"col-12 col-lg-8 mt-2"}
      - if @viewed_user.is_public?
        = haml :'partials/user_tabs', layout: false

      %div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
        - if @viewed_user.wikidata
          Share an anecdote about a collecting trip, event or other memory you recall about #{@viewed_user.fullname}
        - else
          Share an anecdote about a collecting trip, event or anything else.

      - if Sinatra::Application.settings.disqus_shortname
        %div{id: "disqus_thread"}

        :javascript
          var disqus_config = function () {
            this.page.url = "#{Sinatra::Application.settings.base_url}/#{@viewed_user.identifier}/comments";
            this.page.identifier = "#{@viewed_user.identifier}";
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = "https://#{Sinatra::Application.settings.disqus_shortname}.disqus.com/embed.js";
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript"} comments powered by Disqus.