= haml :'partials/user_twitter_img', layout: false

- content_for(:title, "#{@viewed_user.fullname}")

- content_for :scripts do
  %script{id:"dsq-count-scr", src:"//#{Settings.disqus_shortname}.disqus.com/count.js", defer: ""}
  :javascript
    $(function() {
      DISQUSWIDGETS.getCount({ reset: true });
    });

%div{class:"row"}
  = haml :'partials/user_jumbotron', layout: false
  %div{class:"col-12 col-lg-8 mt-2"}
    - if @viewed_user.is_public?
      = haml :'partials/user_tabs', layout: false, locals: { active_page: "deposits" }

      - if @recordings_at.empty? && @identifications_at.empty? 
        %div{class: "alert alert-info tiny-margins", role: "alert"}
          Institutions have not yet been recorded.

      - if !@recordings_at.empty? || !@identifications_at.empty?

        %div{class: "alert alert-info tiny-margins", role: "alert"}
          Specimens deposited and curated at the following institution(s):

        %div{class: "row"}
          %div{class: "col-12 col-lg-6 mb-3"}
            - if @recordings_at.empty? && !@identifications_at.empty?
              %h4{class: "mt-0"} Specimens Identified
              %div{class: "d-flex justify-content-between list-header h5"}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@identifications_at.count)} #{'organization'.pluralize(@identifications_at.count)}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })} specimens
              %ul{class: "list-group"}
                - @identifications_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
            - elsif !@recordings_at.empty?
              %h4{class: "mt-0"} Specimens Collected
              %div{class: "d-flex justify-content-between list-header h5"}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@recordings_at.count)} #{'organization'.pluralize(@recordings_at.count)}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@recordings_at.values.inject(0){|sum,x| sum + x })} specimens
              %ul{class: "list-group"}
                - @recordings_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}
          %div{class: "col-12 col-lg-6 mb-3"}
            - if !@recordings_at.empty? && !@identifications_at.empty?
              %h4{class: "mt-0"} Specimens Identified
              %div{class: "d-flex justify-content-between list-header h5"}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@identifications_at.count)} #{'organization'.pluralize(@identifications_at.count)}
                %span{class: "badge badge-light badge-secondary"} #{number_with_delimiter(@identifications_at.values.inject(0){|sum,x| sum + x })} specimens
              %ul{class: "list-group"}
                - @identifications_at.each do |k,v|
                  %li{class: "list-group-item d-flex justify-content-between align-items-center"}
                    #{k}
                    %span{class: "badge badge-light badge-pill"} #{number_with_delimiter(v)}

    - else
      %div{class: "alert alert-warning"}
        - specimen_count = @viewed_user.all_occurrences_count
        - if specimen_count > 0
          %i{class:"fas fa-lock"}
          Although #{number_with_delimiter(specimen_count)} #{'specimen'.pluralize(specimen_count)} were claimed, this profile
        - else
          %i{class:"fas fa-lock"}
          Profile
        is not publicly available.
