- content_for(:title, "#{@viewed_user.fullname} : Bloodhound")

- content_for :stylesheets do
  %link{rel:"stylesheet", href:"/css/jquery-jvectormap-2.0.3.css"}

- content_for :scripts do
  %script{src: "/js/jquery-jvectormap-2.0.3.min.js"}
  %script{src: "/js/jquery-jvectormap-world-mill.js"}
  :javascript
    var countryData=#{@total[:country_counts].to_json};
    $(function() {
      var map = $('#world-map');
      map.vectorMap({
        map: 'world_mill',
        backgroundColor: '#fff',
        regionStyle: {
          initial: {
            fill: "#e9ecef"
          }
        },
        focusOn: Object.keys(countryData),
        series: {
          regions: [{
            values: Object.keys(countryData).reduce(function (result,item) {
              result[item] = countryData[item].count;
              return result; 
            }, {}),
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial'
          }]
        },
        onRegionTipShow: function(e, el, code) {
          count = 0
          if (countryData.hasOwnProperty(code)) {
            count = countryData[code].count;
          }
          el.html(el.html()+' ('+count+')');
        }
      });
    });

- content_for :jumbotron do
  = haml :'partials/user_jumbotron', layout: false

= haml :'partials/user_tabs', layout: false, locals: { active_page: 'overview' }

%div{class: "alert alert-info", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
  - if @total[:number_recorded] == 0 && @total[:number_identified] == 0
    Identified or collected specimens have not yet been recorded.
  - else 
    - if @total[:number_identified] > 0
      Identified #{number_with_delimiter(@total[:number_identified])} #{'specimen'.pluralize(@total[:number_identified])}.
    - if @total[:number_recorded] > 0
      = succeed "." do
        Collected #{number_with_delimiter(@total[:number_recorded])} #{'specimen'.pluralize(@total[:number_recorded])}
        - if @total[:country_counts].count > 0 
          from at least #{@total[:country_counts].count} #{'country'.pluralize(@total[:country_counts].count)}

- if !@total[:country_counts].empty?
  %div{class:"row d-flex justify-content-center"}
    %div{class:"col col-sm-12 col-md-10 col-xl-10"}
      #world-map{style:"width: 100%; height: 350px"}