- content_for(:title, "#{@viewed_user.fullname} : Bloodhound")

- content_for :stylesheets do
  %link{rel:"stylesheet", href:"/css/jquery-jvectormap-2.0.3.css"}

- content_for :scripts do
  %script{src: "/js/jquery-jvectormap-2.0.3.min.js"}
  %script{src: "/js/jquery-jvectormap-world-mill.js"}
  :javascript
    var countryData=#{@country_counts.to_json};
    $(function() {
      var map = $('#world-map');
      map.vectorMap({
        map: 'world_mill',
        backgroundColor: '#fff',
        regionStyle: {
          initial: {
            fill: "#e9ecef"
          }
        },
        series: {
          regions: [{
            values: Object.keys(countryData).reduce(function (result,item) {
              result[item] = countryData[item].count;
              return result; 
            }, {}),
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial'
          }]
        },
        onRegionTipShow: function(e, el, code) {
          count = 0
          if (countryData.hasOwnProperty(code)) {
            count = countryData[code].count;
          }
          el.html(el.html()+' ('+count+')');
        }
      });
    });

- content_for :jumbotron do
  = haml :'partials/user_jumbotron', layout: false

= haml :'partials/user_tabs', layout: false, locals: { active_page: 'overview' }

%div{class: "alert alert-info row", role: "alert", style:"margin-left:0.1em;margin-right:0.1em"}
  Identified #{number_with_delimiter(@total[:number_identified])} #{'specimen'.pluralize(@total[:number_identified])} and collected #{number_with_delimiter(@total[:number_recorded])} #{'specimen'.pluralize(@total[:number_recorded])} from at least #{@country_counts.count} #{'country'.pluralize(@country_counts.count)} with at least #{@total[:number_recorded_with]} #{'colleague'.pluralize(@total[:number_recorded_with])}.
  - if @total[:number_helped] > 0
    Helped #{number_with_delimiter(@total[:number_helped])} #{'user'.pluralize(@total[:number_helped])} claim a total of #{number_with_delimiter(@total[:number_claims_given])} #{'specimen'.pluralize(@total[:number_claims_given])}.

%div{class:"row"}
  %div{class:"col-sm-12 col-md-10 col-xl-8"}
    #world-map{style:"width: 100%; height: 350px"}